{#
/**
 * @file
 * Theme override to display a single page.
 */
#}

{% set page_content_classes = [
  'page-content',
  node ? 'page-content--node',
  not node.isPublished() ? 'page-content--unpublished',
]
%}

{% embed "@suomidigi/layout/page.html.twig" with {before_content_element: 'user'} %}
  {% block content %}
    <div id="content" {{ create_attribute({'class': page_content_classes} ) }}>
      {% embed "@suomidigi/misc/section.twig" with {section_element: 'content'} %}
        {% block section_content %}
          {{ page.content }}
        {% endblock section_content %}
      {% endembed %}
    </div>
  {% endblock %}
{% endembed %}
