//
// @file
//
// This file includes styles for a container.
//
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: $gutter * 1.5;
  padding-left: $gutter * 1.5;
  max-width: $container;

  @include breakpoint(28.75em) {
    padding-right: $gutter * 2;
    padding-left: $gutter * 2;
  }

  @include breakpoint($for-tablet-landscape-up) {
    padding-right: $gutter * 2.5;
    padding-left: $gutter * 2.5;
  }

  &--inset {
    padding: 0 $gutter;
  }
}
