//
// @file
//
// This file includes styles for a page layout.
//
.content__wrapper {
  margin-top: $gutter * 1.5;
  display: block;

  @include breakpoint($for-tablet-portrait-up) {
    display: flex;
  }
}

.sidebar--first {
  width: 100%;
  padding-right: $gutter;
  padding-left: $gutter;

  @include breakpoint($for-tablet-portrait-up) {
    width: 14rem;
    padding: 0;
  }
}
