//
// @file
//
// This file includes styles for a page layout.
//

.content__wrapper {
  display: block;
  margin-top: $gutter * 1.5;

  @include breakpoint($for-tablet-portrait-up) {
    display: flex;
  }
}

.sidebar--first {
  @include breakpoint($for-tablet-portrait-up) {
    margin-top: $gutter;
    width: 100%;
    flex-basis: 25%;
    min-width: 224px;
    padding: 0;
    margin-right: $gutter * 2;
  }
}

.page-flag {
  &.is-unpublished {
    background: $red;
    border-radius: $gutter 0 0 $gutter;
    bottom: -75px;
    color: $white;
    font-weight: 600;
    font-size: 12px;
    padding: $gutter / 4 $gutter;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;

    @include breakpoint($for-tablet-portrait-up) {
      border-radius: 0 0 $gutter $gutter;
      bottom: -70px;
      padding: 0 $gutter $gutter / 4 $gutter;
    }
    @include breakpoint($for-desktop-up) {
      right: calc(-120px - #{$gutter});
    }
  }
}
