.page-footer {
  background-color: $white;
  padding-bottom: 25px;
  padding-top: 25px;

  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($for-tablet-portrait-up) {
      flex-wrap: nowrap;
    }
  }
}

.content--footer {
  @include font-size(16px, 26px);
  @include font-weight($regular);
  width: 100%;

  @include breakpoint($for-tablet-portrait-up) {
    margin-right: $gutter * 2;
    max-width: 370px;
  }

  h1 {
    @include font-size(32px, 40px);
    @include font-weight($semibold);
    color: $blue-light;
    letter-spacing: -0.5px;
    margin-bottom: $gutter;
  }
}
