.page-footer {
  margin-bottom: $gutter * 2;
  margin-top: $gutter * 2;
}

.content--footer {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  padding-left: $gutter;
  padding-right: $gutter;
  text-align: center;
  width: 100%;
}
