//
// @file
//
// This file includes everything related to the page navigation styling.
//

.page-navigation {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 100;

  @include breakpoint($for-tablet-portrait-up) {
    background-color: $blue-light;
    background-image: url('../../images/header_background_illustration.svg');
    background-position: center -220px;
    background-repeat: repeat no-repeat;
    background-size: 1440px 435px;
  }

  &__container {
    align-items: center;
    display: flex;
    margin: 0;
    position: relative;

    @include breakpoint(0, $for-tablet-portrait-up) {
      width: 100%;
    }

    @include breakpoint($for-tablet-portrait-up) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

