.page-before_content {
  .section--before-content {
    position: relative;
  }

  &--user {
    .section--before-content {
      align-items: center;
      display: flex;
      flex-direction: column;

      @include breakpoint($for-tablet-portrait-up) {
        flex-direction: row;
      }
    }
  }
}
