.page-footer {
  margin-bottom: $gutter * 2;
}

.l-footer__item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  width: 100%;
}

.l-footer--small {
  display: flex;

  &::before {
    @include breakpoint($for-tablet-portrait-up) {
      content: '';
      flex-basis: 25%;
      min-width: 224px;
      padding: 0;
      margin-right: $gutter * 2;
    }
  }
}
