.page-announcement {
  background: $blue-light;
  color: $white;
  padding: $gutter / 2;

  @include breakpoint($for-tablet-portrait-up) {
    background: $white;
    border-bottom: 2px solid $blue-light--secondary;
    color: $black;
  }

  &__container {
    align-items: center;
    display: flex;
    margin: 0;

    @include breakpoint(0, $for-tablet-portrait-up) {
      width: 100%;
    }

    @include breakpoint($for-tablet-portrait-up) {
      margin-left: auto;
      margin-right: auto;
    }

    div {
      text-align: center;
      width: 100%;
    }
  }

  p {
    @include font-size(13px, 18px);
    margin: 0;

    @include breakpoint($for-tablet-portrait-up) {
      @include font-size(14px, 20px);
    }
  }

  a {
    color: $white;

    @include breakpoint($for-tablet-portrait-up) {
      color: $blue-light;
    }
  }
}
