{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{%
  set classes = [
  'account-menu',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
