{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" class="logo logo--header" title="{{ 'Back to front page'|t }}" rel="home">
    <svg aria-labelledby="suomidigi-logo" focusable="false" height="55px" id="suomidigi_flag" role="img" viewbox="0 0 55 55" width="55px">
      <title id="suomidigi-logo">Suomidigi logo</title>
      <desc>suomidigi.fi</desc>
      <g class="icon--flag">
        <path d="M53,0H2C0.9,0,0,0.9,0,2v51c0,1.1,0.9,2,2,2h51c1.1,0,2-0.9,2-2V2C55,0.9,54.1,0,53,0z" fill="#003479"></path>
        <path d="M14,20v-5c0-1.1,0.9-2,2-2h5v7" fill="#FFFFFF"></path>
        <path d="M14,27h7v14c0,0.5-0.4,1-1,1h-5c-0.6,0-1-0.5-1-1" fill="#FFFFFF"></path>
        <path d="M28,13h13c0.5,0,1,0.4,1,1v6H28" fill="#FFFFFF"></path>
        <path d="M41,34H28v-7h14v6C42,33.6,41.6,34,41,34z" fill="#FFFFFF"></path>
      </g>
    </svg>
    <span class="logo--text">{{ site_name }}</span>
  </a>
{% endblock %}
