{#
/**
 * @file
 * Theme override for a menu block.
 */
#}
{%
  set classes = [
  'block',
  'block-menu',
  'navigation',
  'menu--main',
  'menu--sidebar',
]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-label="Sidebar Navigation" {{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
