{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
    {% embed "@suomidigi/misc/container.twig" with {container_element: 'block--local-tasks'} %}
      {% block container_content %}
        <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
          {{ content }}
        </nav>
      {% endblock container_content %}
    {% endembed %}
  {% endif %}
{% endblock %}
