<div class="legislation-collection__item">
  <button class="legislation-collection__toggle-button" aria-disabled="false" tabindex="0" type="button">{{ 'Expand all'|t }}</button>
  {{ collection }}
</div>
