.icon--arrow-down-dims {
	width: 10px;
	height: 10px;
}

.icon--arrow-navigation-dims {
	width: 24px;
	height: 14px;
}

.icon--arrow-up-dims {
	width: 10px;
	height: 10px;
}

.icon--arrow_orange-dims {
	width: 18px;
	height: 18px;
}

.icon--attachment-dims {
	width: 24px;
	height: 24px;
}

.icon--authorise-dims {
	width: 24px;
	height: 24px;
}

.icon--bookmark-dims {
	width: 14px;
	height: 20px;
}

.icon--bookmark-blue-dims {
	width: 14px;
	height: 20px;
}

.icon--burger-dims {
	width: 40px;
	height: 31px;
}

.icon--button-minus-dims {
	width: 24px;
	height: 24px;
}

.icon--button-plus-dims {
	width: 24px;
	height: 24px;
}

.icon--calendar-dims {
	width: 24px;
	height: 24px;
}

.icon--calendar-blue-dims {
	width: 24px;
	height: 24px;
}

.icon--chat-heart-dims {
	width: 24px;
	height: 24px;
}

.icon--chat-question-dims {
	width: 24px;
	height: 24px;
}

.icon--check-dims {
	width: 24px;
	height: 24px;
}

.icon--check-filled-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-down-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-left-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-right-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-right-blue-dims {
	width: 24px;
	height: 24px;
}

.icon--chevron-up-dims {
	width: 24px;
	height: 24px;
}

.icon--close-dims {
	width: 24px;
	height: 24px;
}

.icon--copy-dims {
	width: 24px;
	height: 24px;
}

.icon--designsystem-dims {
	width: 32px;
	height: 32px;
}

.icon--done-dims {
	width: 20px;
	height: 20px;
}

.icon--download_item-dims {
	width: 32px;
	height: 31px;
}

.icon--dvvfi-dims {
	width: 64px;
	height: 64px;
}

.icon--error-dims {
	width: 24px;
	height: 24px;
}

.icon--error-filled-dims {
	width: 24px;
	height: 24px;
}

.icon--filter-dims {
	width: 13px;
	height: 13px;
}

.icon--heart-dims {
	width: 17px;
	height: 15px;
}

.icon--heart-filled-dims {
	width: 24px;
	height: 24px;
}

.icon--help-dims {
	width: 24px;
	height: 24px;
}

.icon--help-filled-dims {
	width: 24px;
	height: 24px;
}

.icon--hox-dims {
	width: 42.307px;
	height: 42.307px;
}

.icon--illustration-archive-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-arrows-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-authorizations-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-block-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-book-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-briefcase-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-bubbles-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-building-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-catalog-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-chat-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-child-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-cogwheels-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-coins-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-content-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-contract-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-credit-cards-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-database-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-diagram-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-display-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-doctor-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-ear-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-failure-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-family-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-feedback-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-finance-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-folder-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-globe-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-graph-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-group-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-growth-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-hands-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-helper-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-home-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-hop-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-house-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-id-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-laptop-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-line-chart-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-line-screen-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-mailbox-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-mailed-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-mallet-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-man-buttons-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-man-glasses-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-man-laptop-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-map-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-messages-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-meter-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-money-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-money-bag-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-organisation-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-phone-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-phone-text-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-piggy-bank-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-pillar-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-plane-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-plate-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-portrait-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-presentation-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-puzzle-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-rocket-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-scale-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-scale-balance-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-server-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-shop-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-success-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-support-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-swim-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-tablet-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-tablet-text-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-team-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-touch-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-umbrella-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-user-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-wand-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-watch-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-web-development-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-wheel-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-woman-buttons-dims {
	width: 64px;
	height: 64px;
}

.icon--illustration-woman-necklace-dims {
	width: 64px;
	height: 64px;
}

.icon--info-dims {
	width: 24px;
	height: 24px;
}

.icon--info-filled-dims {
	width: 24px;
	height: 24px;
}

.icon--internet-dims {
	width: 24px;
	height: 24px;
}

.icon--kayttajahaastattelut-dims {
	width: 26px;
	height: 32px;
}

.icon--legal-hammer-dims {
	width: 37.122px;
	height: 37.174px;
}

.icon--legal-scale-dims {
	width: 45px;
	height: 37.174px;
}

.icon--link-breadcrumb-dims {
	width: 24px;
	height: 24px;
}

.icon--link-external-dims {
	width: 24px;
	height: 24px;
}

.icon--link-external-blue-dims {
	width: 24px;
	height: 24px;
}

.icon--link-list-dims {
	width: 24px;
	height: 24px;
}

.icon--linkout-dims {
	width: 12px;
	height: 12px;
}

.icon--login-dims {
	width: 24px;
	height: 24px;
}

.icon--login_profile-dims {
	width: 26px;
	height: 26px;
}

.icon--logout-dims {
	width: 24px;
	height: 24px;
}

.icon--mail-send-dims {
	width: 24px;
	height: 24px;
}

.icon--map-dims {
	width: 24px;
	height: 24px;
}

.icon--map-layers-dims {
	width: 24px;
	height: 24px;
}

.icon--map-location-dims {
	width: 24px;
	height: 24px;
}

.icon--map-location-filled-dims {
	width: 24px;
	height: 24px;
}

.icon--map-my-location-dims {
	width: 24px;
	height: 24px;
}

.icon--map-route-dims {
	width: 24px;
	height: 24px;
}

.icon--menetelmat-dims {
	width: 48px;
	height: 48px;
}

.icon--menu-dims {
	width: 24px;
	height: 24px;
}

.icon--message-dims {
	width: 24px;
	height: 24px;
}

.icon--minus-dims {
	width: 24px;
	height: 24px;
}

.icon--palvelut-dims {
	width: 48px;
	height: 48px;
}

.icon--phone-dims {
	width: 24px;
	height: 24px;
}

.icon--plus-dims {
	width: 24px;
	height: 24px;
}

.icon--print-dims {
	width: 24px;
	height: 24px;
}

.icon--profile_mobile-dims {
	width: 42px;
	height: 42px;
}

.icon--radio-button-on-dims {
	width: 30px;
	height: 30px;
}

.icon--refresh-dims {
	width: 24px;
	height: 24px;
}

.icon--registers-dims {
	width: 24px;
	height: 24px;
}

.icon--remove-dims {
	width: 24px;
	height: 24px;
}

.icon--saavutettavuus-dims {
	width: 27px;
	height: 32px;
}

.icon--sanastot-dims {
	width: 32px;
	height: 31px;
}

.icon--save-dims {
	width: 24px;
	height: 24px;
}

.icon--search-dims {
	width: 24px;
	height: 24px;
}

.icon--search_plus-dims {
	width: 24px;
	height: 24px;
}

.icon--section-dims {
	width: 25px;
	height: 25px;
}

.icon--segmentointi-dims {
	width: 32px;
	height: 32px;
}

.icon--settings-dims {
	width: 24px;
	height: 24px;
}

.icon--share-dims {
	width: 20px;
	height: 21px;
}

.icon--single-neutral-circle-dims {
	width: 24px;
	height: 24px;
}

.icon--slack-dims {
	width: 64px;
	height: 64px;
}

.icon--social-media-email-dims {
	width: 40px;
	height: 40px;
}

.icon--social-media-facebook-dims {
	width: 40px;
	height: 40px;
}

.icon--social-media-linkedin-dims {
	width: 40px;
	height: 40px;
}

.icon--social-media-twitter-dims {
	width: 40px;
	height: 40px;
}

.icon--subheader_arrow-dims {
	width: 18px;
	height: 18px;
}

.icon--swap-rounded-dims {
	width: 24px;
	height: 24px;
}

.icon--swap-vertical-dims {
	width: 24px;
	height: 24px;
}

.icon--three-dots-dims {
	width: 24.5px;
	height: 6.5px;
}

.icon--thumbs-down-solid-dims {
	width: 64px;
	height: 64px;
}

.icon--thumbs-up-solid-dims {
	width: 64px;
	height: 64px;
}

.icon--toggle-dims {
	width: 38px;
	height: 23px;
}

.icon--twitter-logo-dims {
	width: 50px;
	height: 50px;
}

.icon--tyokalut-dims {
	width: 43px;
	height: 43px;
}

.icon--user-dims {
	width: 24px;
	height: 24px;
}

