.icon--arrow_orange-dims {
	width: 18px;
	height: 18px;
}

.icon--bookmark-dims {
	width: 14px;
	height: 20px;
}

.icon--designsystem-dims {
	width: 32px;
	height: 32px;
}

.icon--download_item-dims {
	width: 32px;
	height: 31px;
}

.icon--filter-dims {
	width: 13px;
	height: 13px;
}

.icon--kayttajahaastattelut-dims {
	width: 26px;
	height: 32px;
}

.icon--linkout-dims {
	width: 12px;
	height: 12px;
}

.icon--login_profile-dims {
	width: 26px;
	height: 26px;
}

.icon--menetelmat-dims {
	width: 48px;
	height: 48px;
}

.icon--palvelut-dims {
	width: 48px;
	height: 48px;
}

.icon--profile_mobile-dims {
	width: 42px;
	height: 42px;
}

.icon--saavutettavuus-dims {
	width: 27px;
	height: 32px;
}

.icon--sanastot-dims {
	width: 32px;
	height: 31px;
}

.icon--search-dims {
	width: 24px;
	height: 24px;
}

.icon--search_plus-dims {
	width: 24px;
	height: 24px;
}

.icon--segmentointi-dims {
	width: 32px;
	height: 32px;
}

.icon--share-dims {
	width: 20px;
	height: 21px;
}

.icon--subheader_arrow-dims {
	width: 18px;
	height: 18px;
}

.icon--tyokalut-dims {
	width: 43px;
	height: 43px;
}

