{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  'legislation-card__link',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<div {{attributes.addClass(classes)}}>
  {% include "@suomidigi/misc/link.twig" with {
    link_url: path('entity.node.canonical', {'node': node.id}),
    link_text: label|render|striptags|trim,
    external: 0
  } %}
</div>
