{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'landing-page',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {% if node.field_hero_checkbox is empty or node.field_hero_checkbox.value != '1' %}
    {% if content.field_slogan|render %}
      <h2 class="landing-page__slogan">
        {{ content.field_slogan }}
      </h2>
    {% endif %}
    {% if content.field_ingress|render %}
      <div class="landing-page__ingress">
        {{ content.field_ingress }}
      </div>
    {% endif %}
  {% endif %}
  <div class="landing-page__content">
    {% if content.field_paragraphs|render %}
      {{ content|without('field_hero_checkbox', 'field_hero', 'field_ingress', 'field_slogan') }}
    {% endif %}
  </div>
</article>
