// All forms in content area
.section--content form {
  display: flex;
  flex-direction: column;
  padding-bottom: $gutter * 1.5;

  &:not(.user-login-form) {
    margin-bottom: $gutter * 1.5;

    .form-wrapper {
      margin-bottom: $gutter * 2;
    }
  }

  .container {
    border-bottom: 1px solid $gray;
    margin-bottom: $gutter * 1.5;
    padding-bottom: $gutter;

    &--full {
      &.is-centered {
        margin: 0 auto 10px auto;
      }
    }

    &--half {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-left: -#{$gutter};
      margin-right: -#{$gutter};


      @include breakpoint($for-tablet-portrait-up) {
        flex-direction: row;
        margin-left: -#{$gutter * 1.5};
        margin-right: -#{$gutter * 1.5};

        > .form-item {
          margin-left: $gutter / 2;
          margin-right: $gutter / 2;
          width: calc(100% / 2 - #{$gutter});

          &.is-full-width {
            width: 100%;
          }
        }

        .radios--wrapper legend{
          display: inline-block;
          margin-bottom: 13px;
        }
      }
    }

  }

  .fieldset-legend {
    @include font-size(14px);
    @include line-height(14px, 18px);
    display: inline-block;
    font-weight: normal;
  }

  fieldset.form-item {
    margin: 0 0 $gutter;

    .form-checkboxes,
    .form-radios {
      margin: 0;

      label {
        @include font-size(16px);
        @include line-height(16px, 19px);
        font-weight: normal;
      }
    }
  }

  .form-item {
    display: block;
    line-height: 24px;
    margin: 0 0 6px;
    padding: 0;

    label:not(.visually-hidden) {
      @include font-size(14px);
      @include line-height(14px, 18px);
      color: #333333;
      display: inline-block;
      font-weight: 600;
      margin-bottom: $gutter / 2;
      width: 100%;
    }

    select,
    textarea,
    input[type="text"],
    input[type="tel"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    .select2-container--default .select2-selection--single {
      @include font-size(16px);
      background: white;
      border: 1px solid $gray-dark;
      border-radius: 0;
      color: $gray-darkest;
      height: auto;
      padding: 10px;
      transition-duration: 0.2s;
      transition-property: all;
      width: 100%;

      &:focus {
        border-color: transparent;
        box-shadow: none;
        color: $black;
        outline: $gray-dark auto 5px;
      }

      &[disabled],
      &[disabled]:active,
      &[disabled]:focus,
      &[disabled]:hover {
        background-color: pink;
      }

      &::-ms-clear {
        display: none;
      }
      &::-ms-expand {
        display: none;
      }

    }

    input[type="submit"] {
      align-self: flex-end;
      height: 2.5em;
    }
  }

  .form-type-textarea {
    margin-bottom: $gutter;
  }

  .form-type-radio {
    cursor: pointer;
    display: inline;
    margin-bottom: 0;
    margin-right: $gutter * 1.5;

    input[type="radio"] {
      opacity: 0;

      &+ label:after {
        content: none;
      }

      &:checked + label::after {
        content: "";
      }

      &:focus + label::before {
        outline: $gray-dark auto 5px;
      }
    }

    label {
      cursor: pointer;
      display: inline;
      margin-left: -#{$gutter};
      padding-left: 28px;
      position: relative;

      &:before {
        background-color: #FBFBFB;
        border: 1px solid #BEBEBE;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 16px;
        left: 0px;
        position: absolute;
        top: 3px;
        width: 16px;
      }

      &:after {
        background-color: #333333;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 10px;
        left: 3px;
        position: absolute;
        top: 6px;
        width: 10px;
      }
    }
  }

  .form-type-checkbox {
    input[type="checkbox"] {
      opacity: 0;

      &+ label:after {
        content: none;
      }

      &:checked + label::after {
        content: "";
      }

      &:focus + label::before {
        outline: $gray-dark auto 5px;
      }
    }

    label {
      cursor: pointer;
      display: inline;
      margin-left: -#{$gutter};
      padding-left: 28px;
      position: relative;

      &:before{
        background-color: #FBFBFB;
        border: 1px solid #BEBEBE;
        content: "";
        display: inline-block;
        height: 16px;
        left: 0;
        position: absolute;
        top: 3px;
        width: 16px;
      }

      &:after {
        border-bottom: 3px solid #333333;
        border-left: 3px solid #333333;
        content: "";
        display: inline-block;
        height: 6px;
        left: 3px;
        position: absolute;
        top: 7px;
        transform: rotate(-45deg);
        width: 10px;
      }
    }
  }
}
