form.form--public {
  background-color: $gray-light;
  margin: 0 -$gutter;
  padding: $gutter;

  .form-item label {
    @include font-size(16px);
    font-weight: 600;
  }

  .form-textarea-wrapper {
    margin-bottom: 0;
  }

  .select2-container--default .select2-selection--single {
    min-height: 50px;

    .select2-selection__arrow {
      right: 11px;
      top: 11px;
    }
  }
}
