.webform__container {
  
  @include font-size(14px);
  @include line-height(14px, 20px);

  @include breakpoint($for-mobile-landscape-up) {
    width: 570px;
    margin: 0 auto;
  }
}

.webform-submission-form {
  
  h2 {
    @include font-size(26px);
    @include line-height(26px, 33px);
    @include font-weight($semibold);
    margin-bottom: $gutter * 1,2;
    color: $blue-medium;
  }

  input,
  textarea {
    margin-bottom: $gutter * 1.4;
  }

  .webform-progress-tracker.progress-tracker {
    @include border('bottom');
    padding-bottom: $gutter * 2;
  }

  .webform-image-file,
  .webform-multiple-add {
    input[type="submit"]:not(.js-hide) {
      display: inline;
      height: auto;
      margin-left: $gutter;
    }
  }

  .webform-multiple-add {
    text-align: center;
  }

  .progress-text {
    line-height: 1.2rem;
  }

  .select2-selection__arrow {
    right: 10px;
    top: 10px;
  }

  .form-actions {
    display: flex;
  }

  .form-type-datetime {
    .container-inline {
      // display: inline-flex;
      display: flex;
      justify-content: flex-start;
      
      > .form-item {
        
        .ui-datepicker-trigger {
          position: absolute;
          right: 5px;
          top: 13px;
        }

        &.form-item-start-date-and-time-date,
        &.form-item-end-date-and-time-date {
          position: relative;
        }        
      }
    }

    &.form-item-start-date-and-time,
    &.form-item-end-date-and-time {
      width: 100%;
      .container-inline {
        input.hasDatepicker {
          @include breakpoint($for-small-mobile-portrait-up) {
            width: 170px;
          }
        }
        > .form-item {
          margin-right: $gutter;
          @include breakpoint($for-small-mobile-portrait-up) {
            margin-right: $gutter * 2;
          }
          
          &:last-of-type {
            margin-right: 0;
            @include breakpoint($for-mobile-landscape-up) {
              margin-right: $gutter * 2;
            }
          }
        }
      }
    }

    &.form-item-start-date-and-time {
      // width: 100%;
      @include breakpoint($for-mobile-landscape-up) {
        width: 300px;
      }
    }
    &.form-item-end-date-and-time {
      // width: 100%;
      @include breakpoint($for-mobile-landscape-up) {
        width: 270px;
        .container-inline {
          > .form-item:last-of-type {
            margin-right: 0;
          }
        }
      }
      
    }
  }

  #edit-date-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;

    @include breakpoint($for-mobile-landscape-up) {
      flex-direction: row;
    }
  }

  .form-item-contact-information {
    padding-top: $gutter;

    .form-item-contact-information-add-more-items,
    .tabledrag-toggle-weight-wrapper {
      display: none;
    }

    @include breakpoint($for-tablet-portrait-up) {
      .tableresponsive-toggle-columns,
      .webform-multiple-table--handle,
      .webform-multiple-add {
        display: none;
      }
    }

    .webform-multiple-table {
      @include border();
      margin-bottom: $gutter;
      padding: $gutter;

      th {
        @include font-size(14px);
        @include line-height(14px, 22px);
        font-weight: 600;
        text-align: left;
      }

      .form-item {
        margin-right: $gutter;
      }
    }
  }
  // styles for removing extra margins from form container, between last input and submit button
  #edit-event-container {
    margin-bottom: 0;

    .form-item:last-child {
      margin-bottom: 0;
      input {
        margin-bottom: 0;
      }
    }
  }  
}

.webform-confirmation__message {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
