.webform-submission-form {
  h2 {
    @include font-size(18px);
    @include line-height(18px, 20px);
    font-weight: 600;
    margin-bottom: $gutter / 2;
  }
}

.webform-confirmation__message {
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
}
