.article-teaser {
  height: 100%;
}

.article-teaser__link {
  background-color: $white;
  display: block;
  height: 100%;
  text-decoration: none;
}

.article-teaser__image {
  padding: 0;
  img {
    display: block;
    width: 100%;
  }
}

.article-teaser__content {
  @include line-height(12px, 14px);
  padding: $gutter;
}

.article-teaser__type {
  border-top: 1px solid $gray-medium;
  color: $black;
  @include font-size(14px);
  @include line-height(14px, 18px);
  @include font-weight($semibold);
  padding-top: $gutter / 1.4;
  text-transform: uppercase;

  // tänne lisää after tyylillä bookmark.svg right 0
}

.article-teaser__label {
  @include font-size(20px);
  @include line-height(20px, 24px);
  color: $blue-medium;
  margin: $gutter * 0.5 0;
  overflow-wrap: break-word;

  &:hover {
    color: $black;
  }

  h3 {
    @include font-weight($semibold);
  }

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size(22px);
    @include line-height(22px, 28px);
    margin: $gutter * 0.5 0 $gutter;
  }

  @include breakpoint($for-desktop-up) {
    @include font-size(24px);
  }
}

.article-teaser__data {
  @include font-size(14px);
  @include line-height(14px, 18px);
  @include font-weight($semibold);
  color: $black;
  // display: flex;
  // flex-wrap: wrap;
}

.article-teaser__lead {
  @include line-height(14px, 22px);
  color: $black;
  margin: 0;
}

.article-teaser__modified-text,
.article-teaser__reading-time {
  margin-right: 0.25rem;
}

.article-teaser__data-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:not(:last-child) {
    &:after {
      background: $gray-darker;
      border-radius: 50%;
      content: '';
      height: 4px;
      position: absolute;
      right: -0.6rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }
}

.paragraph--full-width {
  width: 100%;

  @include breakpoint($for-tablet-portrait-up) {
    .article-teaser__link {
      // align-items: center;
      display: flex;
      // height: 100%;
    }

    .article-teaser__image {
      min-width: 370px;
      max-width: 370px;
      /*height: 190px;*/
      
      height: auto;

      img {
        object-fit: cover;
        //min-height: 100%;
        height: 100%;
      }
        
      
   
    }
  }

}