.article-teaser {
  height: 100%;
}

.article-teaser__link {
  background-color: $white;
  display: block;
  height: 100%;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;

    .article-teaser__label {
      color: $black;
      text-decoration: underline;
    }
  }
}

.article-teaser__image {
  padding: 0;
  img {
    display: block;
    width: 100%;
  }
}

.article-teaser__content {
  padding: $gutter;
  position: relative;
}

.article-teaser__data {
  @include font-size(14px);
  @include line-height(14px, 18px);
  @include font-weight($semibold);
  color: $black;
  display: flex;
  flex-wrap: wrap;
}

.article-teaser__modified-text,
.article-teaser__reading-time {
  margin-right: 0.25rem;
}

.article-teaser__data-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:not(:last-child) {
    &:after {
      background: $gray-darker;
      border-radius: 50%;
      content: '';
      height: 4px;
      position: absolute;
      right: -0.6rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }
}

.article-teaser__label-container {
  @include font-size(20px);
  @include line-height(20px, 24px);
  color: $blue-medium;
  margin: $gutter * 0.5 0;
  overflow-wrap: break-word;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size(22px);
    @include line-height(22px, 28px);
    margin: $gutter * 0.5 0 $gutter;
  }

  @include breakpoint($for-desktop-up) {
    @include font-size(24px);
  }
}

.article-teaser__label {
  @include font-weight($semibold);
}

.article-teaser__lead {
  @include font-size(18px);
  @include line-height(18px, 26px);
  @include font-weight($regular);
  color: $black;
  letter-spacing: 0;
}

.article-teaser__type {
  @include font-size(14px);
  @include line-height(14px, 18px);
  @include font-weight($semibold);
  border-top: 1px solid $gray-medium;
  color: $black;
  padding-top: $gutter / 1.4;
  text-transform: uppercase;

  &::after {
    background-image: url("../../icons/svg/bookmark-blue.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    bottom: 0;
    content: "";
    height: 32px;
    opacity: 1;
    position: absolute;
    right: 0;
    width: 32px;
  }
}

/* Styles for full width teasers */
.paragraph--full-width {
  width: 100%;

  .article-teaser__image {
    height: auto;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      min-width: 50%;
      width: 50%;
    }

    article,
    div {
      height: 100%;
    }

    img {
      display: block;
      max-height: 297px;
      min-height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }
  }

  @include breakpoint($for-tablet-portrait-up) {
    .article-teaser__link {
      display: flex;
    }

    .article-teaser__content {
      padding: $gutter * 2;
    }

    .article-teaser__label {
      @include font-size(22px);
      @include line-height(22px, 28px);
      @include font-weight($semibold);
      color: $blue;
    }
  }
}
