.article-teaser {
  height: 100%;
}

.article-teaser__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.article-teaser__image {
  img {
    display: block;
    width: 100%;
  }
}

.article-teaser__content {
  border: 1px solid rgba(165, 172, 176, 0.3);
  line-height: 12px;
  padding: $gutter;
}

.article-teaser__type {
  @include font-size(12px);
  @include line-height(12px, 14px);
  color: $gray-darker;
  display: inline-block;
  font-weight: 600;
}

.article-teaser__label {
  @include font-size(22px);
  @include line-height(22px, 24px);
  font-weight: 800;
  margin: $gutter * 0.5 0;
  color: $black;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size(20px);
    margin: $gutter * 0.5 0 $gutter;
  }

  @include breakpoint($for-tablet-landscape-up) {
    @include font-size(22px);
  }

  @include breakpoint($for-desktop-up) {
    @include font-size(24px);
  }
}

.article-teaser__data {
  font-size: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  color: $gray-darker;
}

.article-teaser__lead {
  @include line-height(14px, 22px);
  color: $black;
  margin: 0;
}

.article-teaser__modified-text,
.article-teaser__reading-time {
  margin-right: 0.25rem;
}

.article-teaser__data-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:not(:last-child) {
    &:after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $gray-darker;
      right: -0.6rem;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
    }
  }
}
