.article {
  padding-bottom: $gutter * 2;
}

.article__title {
  h1 {
    @include font-size(40px, 50px);
    @include font-weight($semibold);
    color: $blue;
    margin-bottom: $gutter * 2;
  }
}

.article__lead {
  @include font-size(22px, 30px);
  @include font-weight($regular);
  margin-bottom: $gutter;

  @include breakpoint($for-tablet-landscape-up) {
    margin-bottom: $gutter * 2;
  }
}

.article__data {
  @include font-size(18px, 27px);
  @include font-weight($regular);
  color: $black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $gutter * 2;
}

.article__data-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:not(:first-child):not(:last-child) {
    &:after {
      background: $gray-dark;
      border-radius: 50%;
      content: '';
      height: 4px;
      position: absolute;
      right: -0.6rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }
}

.article__author {
  @include font-weight($semibold);
  color: $blue-light;
  display: flex;
  flex-wrap: wrap;

  &--prominent {
    margin-top: $gutter * 4;
  }
}

.article__modified-text,
.article__reading-time {
  margin-right: 0.25rem;
}

.article__image {
  margin: calc(#{$gutter} * 0.5) -#{$gutter} #{$gutter};

  @include breakpoint($for-tablet-landscape-up) {
    margin: #{$gutter} 0 calc(#{$gutter} * 2);
  }

  img {
    display: block;
    width: 100%;
  }
}

.article__social-sharing {
  margin-top: $gutter / 2;
  padding-top: $gutter * 1.7;
}
