.article {
  padding-bottom: $gutter * 2;
}

.article__type {
  @include font-size(14px);
  @include line-height(14px, 18px);
  @include font-weight($semibold);
  margin-bottom: $gutter;
  width: 100%;

  a {
    color: $blue-medium;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.6;
  }
}

.article__title {
  h1 {
    @include font-size(26px);
    @include line-height(26px, 33px);
    @include font-weight($bold);
    color: $blue-medium;
    margin-bottom: $gutter;
  }
}

.article__lead {
  @include font-size(20px);
  @include line-height(20px, 26px);
  @include font-weight($regular);
  margin-bottom: $gutter;

  @include breakpoint($for-tablet-landscape-up) {
    margin-bottom: $gutter * 2;
  }
}

.article__data {
  color: $black;
  display: flex;
  flex-wrap: wrap;
  @include font-size(14px);
  @include line-height(14px, 18px);
  margin-bottom: $gutter * 2;
}

.article__data-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:not(:first-child):not(:last-child) {
    &:after {
      background: $gray-darker;
      border-radius: 50%;
      content: '';
      height: 4px;
      position: absolute;
      right: -0.6rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }
}

.article__author {
  display: flex;
  flex-wrap: wrap;
  color: $blue-light;
  @include font-weight($semibold);

  &--prominent {
    margin-top: $gutter * 4;
  }
}

.article__author-item {
  &:not(:last-child) {
    margin-right: $gutter * 0.25;

    &::after {
      content: ',';
    }
  }
}

.article__modified-text,
.article__reading-time {
  margin-right: 0.25rem;
}

.article__image {
  margin: calc(#{$gutter} * 0.5) -#{$gutter} #{$gutter};

  @include breakpoint($for-tablet-landscape-up) {
    margin: #{$gutter} 0 calc(#{$gutter} * 2);
  }

  img {
    display: block;
    width: 100%;
  }
}

.article__social-sharing {
  border-top: 1px solid $gray-medium;
  padding-top: $gutter * 1.7;
  text-align: center;
  margin-top: $gutter / 2;
}