.attachment-teaser {
  @include breakpoint($for-tablet-portrait-up) {
    width: calc(100% / 2 - calc(#{$gutter}));
    margin: $gutter / 2;
    border: 1px solid $gray;
    padding: $gutter / 2;
  }

  &__content {
    margin: $gutter/2 $gutter 0;
  }

  &__title {
    @include font-size(16px);
    @include line-height(20px, 16px);
    font-weight: 600;
    margin-bottom: 0;
  }

  &__file-type {
    color: $gray-dark;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__link {
    color: $black;
    text-decoration: none;
  }
}
