.attachment-teaser {
  border: 1px solid $gray;
  margin: $gutter / 2;
  padding: $gutter / 2;
  width: 100%;

  @include breakpoint($for-mobile-landscape-up) {
    width: calc(100% / 2 - calc(#{$gutter}));
  }

  &__content {
    margin: $gutter/2 $gutter/2 0;
  }

  &__image {
    img {
      width: 100%;
    }
  }

  &__title {
    @include font-size(16px, 20px);
    font-weight: 600;
    margin-bottom: 0;
  }

  &__file-type {
    color: $gray-dark;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__link {
    color: $black;
    text-decoration: none;
  }
}
