.author {
  &__label {
    @include font-size(16px, 20px);
    color: $gray-dark;
    letter-spacing: 0;
    padding-bottom: $gutter * 0.5;
  }

  &-item {
    .author__list & {
      &:not(:last-child) {
        margin-right: $gutter * 0.25;

        &::after {
          content: ',';
        }
      }
    }
  }
}
