.basic-page {
  padding: $gutter 0 $gutter * 2;

  @include breakpoint($for-tablet-portrait-up) {
    padding: 0 0 $gutter * 2;
  }
}

.basic-page__header {
  padding-top: $gutter / 1.5;
}

.basic-page__title {
  h1 {
    @include font-size(40px, 50px);
    @include font-weight($semibold);
    color: $blue;
    margin-bottom: $gutter * 2;
  }
}

.basic-page__lead {
  @include font-size(22px, 30px);
  @include font-weight($regular);
  margin-bottom: $gutter * 2;
}

.basic-page__data {
  @include font-size(18px, 27px);
  @include font-weight($regular);
  color: $black;
  margin-top: $gutter * 2;
}

.basic-page__modified-text {
  @include font-weight($semibold);
  margin-right: 0.25rem;
}

.basic-page__image {
  margin: $gutter -#{$gutter} $gutter * 2 ;

  @include breakpoint($for-tablet-landscape-up) {
    margin: $gutter 0 $gutter * 2;
  }

  img {
    display: block;
    width: 100%;
  }
}
