.basic-page {
  padding: $gutter 0 $gutter * 2;

  @include breakpoint($for-tablet-portrait-up) {
    padding: 0 0 $gutter * 2;
  }
}

.basic-page__header {
  padding-top: $gutter;
}

.basic-page__title {
  h1 {
    @include font-size(40px, 50px);
    @include font-weight($semibold);
    color: $blue-medium;
    margin-bottom: $gutter * 2;
  }
}

.basic-page__lead {
  @include font-size(22px, 30px);
  @include font-weight($regular);
  margin-bottom: $gutter * 2;
}

.basic-page__data {
  @include font-size(18px, 27px);
  @include font-weight($regular);
  color: $black;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $gutter * 2;

  a {
    text-decoration: none;
  }

  &-item {
    display: flex;
    position: relative;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.basic-page__author {
  @include font-weight($semibold);
  color: $blue-light;
  display: flex;
  flex-wrap: wrap;
}

.basic-page__modified-text {
  margin-right: 0.25rem;
}

.basic-page__image {
  margin: $gutter -#{$gutter} $gutter * 2 ;

  @include breakpoint($for-tablet-landscape-up) {
    margin: $gutter 0 $gutter * 2;
  }

  img {
    display: block;
    width: 100%;
  }
}
