.blog-teaser {
  height: 100%;
}

.blog-teaser__link {
  background-color: $white;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 190px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;

    .blog-teaser__label {
      color: $black;
    }
  }

  @include breakpoint($for-tablet-portrait-up) {
    flex-flow: row;
  }
}

.blog-teaser__image {
  width: 100%;

  @include breakpoint($for-mobile-landscape-up) {
    min-width: 270px;
  }

  @include breakpoint($for-tablet-portrait-up) {
    min-width: 50%;
  }

  article,
  div {
    height: 100%;
  }

  img {
    display: block;
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.blog-teaser__content {
  display: flex;
  flex-flow: column;
  padding: $gutter * 1.3 $gutter * 2;
}

.blog-teaser__date {
  @include font-size(14px);
  @include line-height(14px, 18px);
  @include font-weight($semibold);
  color: $black;
}

.blog-teaser__label {
  @include font-size(22px);
  @include line-height(22px, 28px);
  @include font-weight($semibold);
  color: $blue;
  letter-spacing: 0;
  margin: $gutter / 3 0;
  overflow-wrap: break-word;

  @include breakpoint($for-tablet-portrait-up) {
    margin: $gutter / 3 0 $gutter;
  }
}

.blog-teaser__lead {
  @include font-size(18px);
  @include line-height(18px, 26px);
  @include font-weight($regular);
  color: $black;
  margin: 0;
}

.blog-teaser__footer {
  margin-top: auto;
  padding-top: $gutter;
}

.blog-teaser__author {
  @include font-size(14px);
  @include line-height(14px, 18px);
  @include font-weight($semibold);
  color: $blue-light;

  .author__item {
    &:hover,
    &:focus {
      color: $black;
    }
  }

  .author__label {
    @include font-size(14px);
    @include line-height(14px, 18px);
    @include font-weight($semibold);
    border: 0 none;
    color: $black;
    padding-bottom: $gutter / 3;
    text-transform: uppercase;
  }
}

.blog-teaser__modified-text,
.blog-teaser__reading-time {
  margin-right: 0.25rem;
}
