.blog-teaser {
  background-color: $white;
  border-left: $gutter / 3 solid $cyan;
  border-radius: $gutter / 3;
  box-shadow: 2px 2px 10px #00000033;
  height: 100%;
  width: 100%;

  .group__list & {
    margin-bottom: $gutter * 2;
  }
}

.blog-teaser__link {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 190px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;

    .blog-teaser__label {
      color: $black;
    }
  }

  .paragraph--3col .paragraph:not(.paragraph--full-width) &,
  .listing--grid__item & {
    flex-flow: column;
  }

  @include breakpoint($for-tablet-portrait-up) {
    flex-flow: row;
  }
}

.blog-teaser__image {
  order: 2;
  padding: 0;
  width: 100%;

  > div {
    height: 100%;
  }

  img {
    border-radius: 0 5px 0 0;
    display: block;
    height: 100%;
    width: 100%;

    .paragraph--full-width & {
      border-radius: 0 0 5px 0;

      @include breakpoint($for-tablet-portrait-up) {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .listing--list__item & {
    order: 1;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      width: 350px;
    }

    img {
      border-radius: 0;
      min-height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .paragraph--3col .paragraph:not(.paragraph--full-width) &,
  .listing--grid__item & {
    order: 1;
  }

  .blog-prominent--primary & {
    order: 1;
    width: 100%;

    @include breakpoint($for-mobile-landscape-up) {
      min-width: 270px;
    }

    @include breakpoint($for-tablet-portrait-up) {
      min-width: 50%;
      order: 2;
      width: 50%;

      .group__list & {
        min-width: 370px;
      }
    }

    article,
    div {
      height: 100%;
    }

    img {
      display: block;
      min-height: 100%;
      object-fit: cover;
      width: 100%;

      .listing__item & {
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.blog-teaser__content {
  display: flex;
  flex-flow: column;
  order: 1;
  padding: 23px 20px;
  position: relative;
  width: 100%;

  .listing--list__item & {
    padding: 20px 30px;
  }

  .paragraph--3col .paragraph:not(.paragraph--full-width) &,
  .listing--grid__item & {
    height: 100%;
  }
}

.blog-teaser__date {
  @include font-size(16px, 20px);
  @include font-weight($semibold);
  color: $gray-darker;
  letter-spacing: 0;
  margin-bottom: 10px;
}

.blog-teaser__label {
  @include font-size(22px, 28px);
  @include font-weight($semibold);
  color: $blue-light;
  margin-bottom: $gutter / 2;

  .listing--list & {
    &:hover {
      color: $black;
    }
  }
}

.blog-teaser__lead {
  @include font-size(18px, 26px);
  @include font-weight($regular);
  color: $black;
  margin: 0;
}

.blog-teaser__footer {
  margin-top: auto;
  padding-top: $gutter * 2;
}

.blog-teaser__author {
  @include font-size(16px, 20px);
  @include font-weight($semibold);
  color: $blue-light;

  .author__item {
    &:hover,
    &:focus {
      color: $black;
    }
  }

  .author__label {
    @include font-size(16px, 20px);
    @include font-weight($regular);
    border: 0 none;
    color: $black;
    padding-bottom: $gutter / 3;
  }
}

.blog-teaser__modified-text,
.blog-teaser__reading-time {
  margin-right: 0.25rem;
}
