.page-type--blog_post {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #00000029;
  margin-bottom: $gutter * 4;
  margin-top: $gutter * 2;

  .section--content {
    margin: 0 auto;
    max-width: $content-area;
    padding: $gutter * 2;
  }

  .has-background & {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;

    .section--content {
      margin: 0;
      padding: 0;

      @include breakpoint($for-tablet-portrait-up) {
        padding: 0 $gutter * 2 0 0;
      }
    }

    .blog__author--prominent,
    .comments__container {
      @include breakpoint($for-tablet-portrait-up) {
        margin-left: -160px;
        margin-right: 190px;
      }
    }

    .blog__author--prominent {
      .content__border {
        @include breakpoint($for-tablet-portrait-up) {
          margin-left: -120px;
          margin-right: -120px;
        }
      }
    }

    .content__border {
      @include breakpoint($for-tablet-portrait-up) {
        margin-left: -280px;
        margin-right: 70px;

      }
    }
  }
}

.blog {
  padding-bottom: $gutter * 2;
}

.blog__title {
  h1 {
    @include font-size(40px, 50px);
    @include font-weight($semibold);
    color: $blue-medium;
    margin-bottom: $gutter * 2;
  }
}

.blog__lead {
  @include font-size(22px, 30px);
  @include font-weight($regular);
  margin-bottom: $gutter;

  @include breakpoint($for-tablet-landscape-up) {
    margin-bottom: $gutter * 2;
  }
}

.blog__data {
  @include font-size(18px, 27px);
  @include font-weight($regular);
  color: $black;
  display: flex;
  flex-wrap: wrap;
}

.blog__data-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &:not(:first-child):not(:last-child) {
    &:after {
      background: $gray-darker;
      border-radius: 50%;
      content: '';
      height: 4px;
      position: absolute;
      right: -0.6rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
    }
  }
}

.blog__author {
  @include font-weight($semibold);
  color: $blue-light;
  display: flex;
  flex-wrap: wrap;

  &--prominent {
    margin-top: $gutter * 4;
  }
}

.blog__type {
  @include font-size(16px, 16px);
  @include font-weight($semibold);
  margin-bottom: 0.25rem;
  width: 100%;

  a {
    color: $gray-darker;
  }
}

.blog__modified-text,
.blog__reading-time {
  margin-right: 0.25rem;
}

.blog__image {
  margin: calc(#{$gutter} * 0.5) -#{$gutter} #{$gutter};

  @include breakpoint($for-tablet-landscape-up) {
    margin: #{$gutter} 0 calc(#{$gutter} * 2);
  }

  img {
    display: block;
    width: 100%;
  }
}

.blog__social-sharing {
  margin-top: $gutter / 2;
  padding-top: $gutter * 1.7;
}
