.comments {
  &__container {
    @include border('top');
    margin-top: $gutter * 2;
    padding-top: $gutter;
  }

  .indented {
    border-top: 0 none;
    padding-left: $gutter * 2;
    padding-top: $gutter;
  }
}

.comment {
  @include border('top');
  margin-top: $gutter;
  padding-top: $gutter;

  &:first-of-type {
    border-top: 0 none;
  }

  &__meta {
    align-items: center;
    display: flex;
  }

  &__avatar {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-right: $gutter;

    img {
      border-radius: 2px;
      max-width: $gutter * 3;
      min-height: $gutter * 3;
      min-width: $gutter * 3;
    }

    &--letter {
      @include font-size(24px);
      @include font-weight($bold);
      align-items: center;
      background-color: $blue-medium;
      border-radius: 2px;
      color: $white;
      display: flex;
      height: $gutter * 3;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      width: $gutter * 3;

      .community__link:hover & {
        text-decoration: none;
      }
    }
  }

  &__author {
    font-weight: bold;
    margin: 0 $gutter 0 0;
  }

  &__time {
    color: $gray-darker;
    margin: 0 $gutter 0 0;

    em {
      color: $gray-dark;
    }
  }

  &__permalink {
    display: none;
  }

  &__content {
    margin-top: $gutter;
  }

  &-form {
    .form-actions {
      display: flex;
    }
  }

  .links {
    float: right;
    margin: 0;
  }

  .indented & {
    border-top: 0 none;
  }
}


