.core-content {

  &__published {
    @include font-size(14px, 14px);
    color: $gray-dark;
  }

  .article__header.is-empty {
    margin-bottom: $gutter * 0.75;
    padding-bottom: $gutter * 0.75;
  }

  .article__data {
    @include breakpoint($for-mobile-landscape-up) {
      align-items: center;
      margin-bottom: 20px;

      .flag-wrapper.flag--top {
        margin-left: auto;
        margin-top: -1px;
      }
    }
  }
}
