.core-content-teaser {
  height: 100%;

  .paragraph--full-width & {
    @include border('bottom');

    .core-content-teaser__link {
      box-shadow: none;
    }

    .core-content-teaser__label-type {
      display: block;
    }

    .core-content-teaser__data {
      margin-bottom: 0;
    }

    .core-content-teaser__data {
      display: none;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    color: $black;
    text-decoration: none;
    padding: calc(#{$gutter} * 1.25) $gutter;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
    height: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: $gutter * 0.5;
  }

  &__content {
    margin-bottom: $gutter;
  }

  &__image {
    line-height: 0;
    margin-right: $gutter;
    width: $gutter * 3;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__label {
    @include font-size(20px);
    margin-bottom: 0;
    font-weight: 600;
    line-height: 100%;
  }

  &__lead {
    @include font-size(14px);
    @include line-height(14px, 18px);
    color: $gray-darker;
    margin-bottom: $gutter;
    word-break: break-word;
  }

  &__type {
    @include font-size(14px);
    color: $gray-darker;
    font-weight: 600;
    display: block;
    line-height: 100%;
  }

  &__label-type {
    @include font-size(12px);
    color: $gray-darker;
    display: none;
    line-height: 100%;
    margin-top: $gutter * 0.35;
  }

  &__data {
    margin-top: auto;
  }
}
