.core-content-teaser {
  background-color: $white;
  border-left: $gutter / 3 solid $cyan;
  border-radius: $gutter / 3;
  box-shadow: 2px 2px 10px #00000033;
  height: 100%;

  .listing--grid__item & {
    width: 100%;
  }

  .paragraph--full-width & {
    @include border('bottom');

    .core-content-teaser__label-type {
      display: block;
    }

    .core-content-teaser__data {
      margin-bottom: 0;
    }

    .core-content-teaser__data {
      display: none;
    }
  }

  &__link {
    color: $black;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $gutter * 1.4;
    text-decoration: none;

    &:hover,
    &:active {
      color: $black;
      text-decoration: none;

      .core-content-teaser__published,
      .core-content-teaser__type,
      .core-content-teaser__label {
        color: $black;
      }

      .core-content-teaser__label {
        text-decoration: underline;
      }
    }
  }

  &__header {
    align-items: center;
    display: flex;
    margin-bottom: $gutter * 0.5;
  }

  &__content {
    margin-bottom: $gutter;
  }

  &__image {
    line-height: 0;
    margin-right: $gutter;
    width: 50px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  &__label {
    @include font-size(22px, 28px);
    @include font-weight($semibold);
    color: $blue-light;
    margin-bottom: 0;
  }

  &__lead {
    @include font-size(14px, 18px);
    color: $gray-dark;
    margin-bottom: $gutter;
    word-break: break-word;
  }

  &__type {
    @include font-size(16px, 20px);
    @include font-weight($semibold);
    color: $gray-dark;
    display: block;
  }

  &__published {
    @include font-size(16px, 20px);
    @include font-weight($regular);
    color: $black;
  }

  &__label-type {
    display: none;
  }

  &__data {
    margin-top: auto;
  }
}
