.core-content {

  &__published {
    @include font-size(14px, 14px);
    color: $gray-darker;
  }

  .article__header.is-empty {
    margin-bottom: $gutter * 0.75;
    padding-bottom: $gutter * 0.75;
  }
}
