.page-type--core_content {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #00000029;
  margin-bottom: $gutter * 4;
  margin-top: $gutter * 2;

  .section--content {
    margin: 0 auto;
    max-width: $content-area;
    padding: $gutter * 2;
  }

  .has-background & {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;

    .section--content {
      margin: 0;
      padding: 0;

      @include breakpoint($for-tablet-portrait-up) {
        padding: 0 $gutter * 2 0 0;
      }
    }

    .article__author--prominent {
      @include breakpoint($for-tablet-portrait-up) {
        margin-left: -160px;
        margin-right: 190px;
      }
    }

    .article__author--prominent {
      .content__border {
        @include breakpoint($for-tablet-portrait-up) {
          margin-left: -120px;
          margin-right: -120px;
        }
      }
    }

    .content__border {
      @include breakpoint($for-tablet-portrait-up) {
        margin-left: -280px;
        margin-right: 70px;
      }
    }
  }
}

.core-content {

  &__published {
    @include font-size(14px, 14px);
    color: $gray-darker;
  }

  .article__header.is-empty {
    margin-bottom: $gutter * 0.75;
    padding-bottom: $gutter * 0.75;
  }
}
