.event {
  margin-left: -#{$gutter};
  margin-right: -#{$gutter};

  @include breakpoint($for-tablet-portrait-up) {
    margin-left: 0;
    margin-right: 0;
  }

  &__image {

  }

  &__footer,
  &__header {
    display: flex;
    flex-direction: column;

    @include breakpoint($for-tablet-portrait-up) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--primary {
      flex-basis: 64%;

      @include breakpoint($for-tablet-portrait-up) {
        margin-right: 15px;
      }
    }

    &--secondary {
      flex-basis: 33%;
    }
  }

  &__content {
    background-color: $white;
    padding: 25px $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      padding: 40px;
    }

    @include breakpoint($for-tablet-landscape-up) {
      padding: 40px 100px;
    }

    .page-title {
      @include font-size(26px);
      @include font-weight($bold);
      @include line-height(26px, 33px);
      color: $blue-medium;
    }
  }

  &__description {
    margin-bottom: $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      margin-bottom: 0;
    }
  }

  &__description,
  &__description p {
    @include font-size(20px);
    @include line-height(20px, 26px);
  }



  &__registration {
    h3 {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
    }

    .button {
      @include button('submit');
    }
  }

  &__date {
    display: flex;
    margin-bottom: $gutter;

    .icon {
      color: $blue-light;
      height: 20px;
      margin: 2px $gutter 0 0;
      min-width: 20px;
      width: 20px;
    }

    &--date {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
      color: $black;
    }
  }

  &__venue-name {
    display: flex;
    margin-bottom: $gutter;

    .icon {
      color: $blue-light;
      height: 20px;
      margin: 2px $gutter 0 0;
      min-width: 20px;
      width: 20px;
    }

    &--wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    h3 {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
      color: $black;
      margin-bottom: 0;
    }
  }

  &__address {
    @include font-size(18px);
    @include line-height(18px, 26px);
    @include font-weight($regular);
    color: $black;
    flex-basis: 100%;
    letter-spacing: 0;
  }

  &__divider {
    @include border('top');
    @include border('bottom');
    display: flex;
    justify-content: right;
    margin: $gutter * 3 -#{$gutter};
    padding: $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      margin: $gutter * 3 0;
    }
  }

  &__free-text {
    @include font-size(16px);
    @include line-height(16px, 20px);
    @include font-weight($regular);
    color: $black;
    margin-bottom: $gutter;

    h2 {
      @include font-size(22px);
      @include line-height(22px, 20px);
      @include font-weight($semibold);
    }

    h3 {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
    }
  }

  &__venue-description,
  &__venue-description p {
    @include font-size(14px);
    @include line-height(14px, 20px);
    @include font-weight($regular);
    margin-bottom: $gutter * 2;

    .field__label {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
      margin-bottom: $gutter;
    }
  }

  &__contact-info {
    @include font-size(14px);
    @include line-height(14px, 20px);
    @include font-weight($regular);

    .field__label {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
      margin-bottom: $gutter;
    }

    .contact-information {
      display: flex;
      flex-direction: column;
      margin-bottom: $gutter;

      .name {
        @include font-size(14px);
        @include line-height(14px, 20px);
        @include font-weight($semibold);
      }

      .email,
      .phone-number {
        @include font-size(14px);
        @include line-height(14px, 20px);
        @include font-weight($regular);
      }
    }
  }
}
