.event {
  h3 {
    @include font-size(18px, 23px);
    @include font-weight($semibold);
    color: $black;
  }

  &__footer,
  &__header {
    display: flex;
    flex-direction: column;

    @include breakpoint($for-tablet-portrait-up) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--primary {
      flex-basis: 56%;

      @include breakpoint($for-tablet-portrait-up) {
        margin-right: $gutter;
      }
    }

    &--secondary {
      flex-basis: 40%;

      @include breakpoint($for-tablet-portrait-up) {
        padding-left: $gutter * 2;
      }
    }

    &.has-border {
      @include border('top');
      padding-top: $gutter * 3;
    }
  }

  &__content {
    background-color: $white;
    border-radius: 0 0 5px 5px;
    padding: 25px $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      padding: 40px;
    }

    .page-title {
      @include font-size(40px, 50px);
      @include font-weight($semibold);
      color: $blue;
    }
  }

  &__image {
    img {
      border-radius: 5px 5px 0 0;
    }
  }

  &__description {
    margin-bottom: $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      margin-bottom: 0;
    }
  }

  &__description,
  &__description p {
    @include font-size(18px, 27px);
  }

  &__registration {
    margin-top: $gutter;
  }

  &__date {
    display: flex;
    margin-bottom: $gutter;

    .icon {
      color: $blue-light;
      height: 20px;
      margin: 2px $gutter 0 0;
      min-width: 20px;
      width: 20px;
    }

    &--date {
      @include font-size(18px, 27px);
      @include font-weight($regular);
      color: $black;
    }
  }

  &__venue-name {
    display: flex;
    margin-bottom: $gutter;

    .icon {
      color: $blue-light;
      height: 20px;
      margin: 2px $gutter 0 0;
      min-width: 20px;
      width: 20px;
    }

    &--wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    h3 {
      @include font-size(18px, 27px);
      @include font-weight($semibold);
      margin-bottom: 5px;
    }
  }

  &__address {
    @include font-size(18px, 26px);
    @include font-weight($regular);
    color: $black;
    flex-basis: 100%;
    letter-spacing: 0;
  }

  &__divider {
    display: flex;
    justify-content: left;
    margin: $gutter * 3 -#{$gutter};

    @include breakpoint($for-tablet-portrait-up) {
      margin: $gutter * 3 0 0;
    }

    .block-suopa-content-social-sharing-block {
      margin: 0 $gutter $gutter * 2;
    }
  }

  &__free-text {
    @include font-size(18px, 27px);
    @include font-weight($regular);
    color: $black;
    margin-bottom: $gutter;

    h2 {
      @include font-size(28px, 34px);
      @include font-weight($semibold);
    }
  }

  &__venue-description,
  &__venue-description p {
    @include font-size(18px, 27px);
    @include font-weight($regular);
    margin-bottom: $gutter * 2;

    .field__label {
      @include font-size(22px, 28px);
      @include font-weight($semibold);
      margin-bottom: $gutter * 2;
    }
  }

  &__contact-info {
    @include font-size(18px, 27px);
    @include font-weight($regular);

    .field__label {
      @include font-size(22px, 28px);
      @include font-weight($semibold);
      margin-bottom: $gutter * 1.4;
    }

    .contact-information {
      display: flex;
      flex-direction: column;
      margin-bottom: $gutter;
      word-break: break-word;

      label {
        margin-right: 5px;
      }

      .name {
        @include font-size(18px, 27px);
        @include font-weight($semibold);
      }

      .email,
      .phone-number {
        @include font-size(18px, 27px);
        @include font-weight($regular);
      }
    }
  }

  &__organiser {
    h3 {
      @include font-size(28px, 34px);
      @include font-weight($semibold);
    }

    &--name {
      @include font-size(22px, 26px);
      @include font-weight($semibold);
      margin-bottom: $gutter;
    }

    &--description {
      @include font-size(18px, 27px);
      @include font-weight($regular);
      margin-bottom: $gutter;
    }
  }

  &__back {
    align-items: center;
    border: 1px solid $blue;
    border-radius: 3px;
    color: #003479;
    display: inline-flex;
    flex-flow: row;
    padding: 10px 15px 10px 8px;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $white;
      border-color: $black;
      color: $black;
      text-decoration: none;

      .icon {
        color: $black;
      }
    }

    &--top {
      margin: 0 0 $gutter * 2;
    }

    &--bottom {
      margin: $gutter * 2 0;
    }

    &--text {
      @include font-size(14px, 18px);
      @include font-weight($semibold);
      text-decoration: none;
    }

    .icon {
      color: $blue;
      height: 20px;
      margin: 0 5px 0 0;
      min-width: 20px;
      width: 20px;
    }
  }
}
