.group {
  &__info-wrapper {
    order: 1;
    padding: $gutter * 2 $gutter;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      padding: 48px $gutter * 2 68px $gutter;
      width: 600px;
    }

    @include breakpoint($for-tablet-landscape-up) {
      padding: 48px $gutter * 2 68px 100px;
    }
  }

  &__content-wrapper {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #00000029;
    display: flex;
    flex-flow: column;
    margin: 0;

    @include breakpoint($for-tablet-portrait-up) {
      flex-flow: row;
    }
  }

  &__content {
    @include font-size(18px, 27px);
    @include font-weight($regular);
    border-radius: 0 0 5px 5px;
    color: $black;
    order: 2;
    padding: 40px 30px 30px;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      border-radius: 0 5px 5px 0;
    }

    h1 {
      @include font-size(28px, 34px);
      @include font-weight($semibold);
      color: $black;
    }

    h2 {
      @include font-size(22px, 28px);
      @include font-weight($semibold);
      color: $black;
    }

    p {
      @include font-size(18px, 26px);
      @include font-weight($regular);
    }

    a {
      color: $blue-light;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $black;
      }
    }

    .paragraph.paragraph--list-of-links {
      .paragraph__title {
        @include font-size(22px, 28px);
        @include font-weight($semibold);
        color: $black;
        text-transform: none;
      }
    }
  }

  &__updated {
    @include border('top');
    padding-top: $gutter * 2;

    .label {
      @include font-weight($semibold);
    }
  }

  &__sidebar {
    order: 1;

    @include breakpoint($for-tablet-portrait-up) {
      background-color: #F0FAFF;
      border-radius: 5px 0 0 5px;
      padding: 0;

      > div {
        width: 350px;
      }
    }

    .community__teaser-title {
      @include font-size(22px, 28px);
      @include font-weight($semibold);
      color: $black;
      margin: 0;
      padding: 40px 20px 20px;
    }

    .community__teaser-description {
      @include font-size(18px, 26px);
      @include font-weight($regular);
      margin: 0;
      padding: 0 20px 20px;
    }

    .community__teaser {
      background-color: #E2F2FD;
      border: 0 none;

      .community {
        background: transparent;
        padding: 20px;

        &__domain {
          @include font-size(16px, 20px);
          @include font-weight($regular);
          color: $black;
          margin-bottom: 0;
          text-transform: none;
        }

        &__title {
          @include font-size(22px, 28px);
          @include font-weight($semibold);
          color: $black;
          margin-bottom: $gutter;
        }

        &__content,
        &__content p {
          @include font-size(18px, 26px);
          border: 0 none;
          color: $black;
          margin: 0;
          padding: 0;
        }

        &__cta {
          @include font-size(18px, 26px);
          @include font-weight($regular);
        }
      }
    }
  }

  &__after-content {
    margin: 0;
    padding: $gutter * 2 0;
  }

  // TODO: Refactor these styles.
  // Temporary styles for the lists.
  .views--articles {
    .views-row-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    .views__row {
      margin: 15px;
      width: calc(100% - (#{$gutter} * 2));

      @include breakpoint($for-tablet-portrait-up) {
        width: calc(50% - (#{$gutter} * 2));
      }
    }
  }
}

.page-before_content--group .title__container {
  display: none;
  visibility: hidden;
}

.group__hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 430px;

  @include breakpoint($for-tablet-portrait-up) {
    height: auto;
    min-height: 340px;
  }

  .group__hero-wrapper {
    margin: 0 auto;
    max-width: $container-desktop;
    width: 100%;
    z-index: 10;
  }

  .group__content {
    background-color: $white;
    border-radius: $gutter / 3;
    box-shadow: 2px 2px 30px #3636364D;
    margin: $gutter * 2 $gutter $gutter * 4;
    max-width: 650px;
    padding: 20px 20px 40px;
    width: unset;
    z-index: 2;

    @include breakpoint($for-tablet-portrait-up) {
      margin: $gutter * 4 $gutter $gutter * 2;
      max-width: 730px;
    }

    @include breakpoint(1200px) {
      margin: $gutter * 4 0 $gutter * 2;
    }
  }

  .group__title {
    @include font-size(40px, 50px);
    @include font-weight($semibold);
    color: $blue;
    letter-spacing: 0;
    margin-bottom: $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      margin-bottom: 20px;
    }
  }

  .group__description {
    @include font-size(22px, 30px);
    @include font-weight($regular);
    color: $black;
    letter-spacing: 0;
    margin-bottom: 10px;

    @include breakpoint($for-tablet-portrait-up) {
      margin-bottom: $gutter * 2;
    }
  }

  .group__link {
    align-items: center;
    display: flex;

    .icon {
      color: $purple;
      margin-left: -7px;
      max-height: 20px;
      max-width: 20px;
    }

    > a {
      @include font-size(18px, 23px);
      @include font-weight($regular);
      color: $blue-light;
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
}
