.group {

  &__header {
    align-items: center;
    background-color: $blue-light;
    color: $white;
    display: flex;
    flex-flow: column;
    margin: -#{$gutter} -#{$gutter} 0 -#{$gutter};

    @include breakpoint($for-tablet-portrait-up) {
      flex-flow: row;
      margin: 0;
    }
  }

  &__info-wrapper {
    order: 1;
    padding: $gutter * 2 $gutter;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      padding: 48px $gutter * 2 68px $gutter;
      width: 600px;
    }

    @include breakpoint($for-tablet-landscape-up) {
      padding: 48px $gutter * 2 68px 100px;
    }
  }

  &__title {
    @include font-size(26px);
    @include line-height(26px, 33px);
    @include font-weight($bold);
  }

  &__description {
    @include font-size(20px);
    @include line-height(20px, 28px);
    @include font-weight($regular);
  }

  &__image {
    align-self: stretch;
    line-height: 0;
    min-height: 100%;
    order: 2;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      width: 570px;
    }

    img {
      min-height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content-wrapper {
    background-color: $white;
    display: flex;
    flex-flow: column;
    margin: 0 -#{$gutter};
    padding: $gutter * 2 $gutter $gutter * 3 $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      flex-flow: row;
      margin: 0;
      padding: $gutter * 2 $gutter;
    }

    @include breakpoint($for-tablet-landscape-up) {
      padding: $gutter * 2 100px;
    }
  }

  &__content {
    @include font-size(18px);
    @include line-height(18px, 26px);
    @include font-weight($regular);
    color: $black;
    width: 100%;

    h2 {
      @include font-size(22px);
      @include line-height(22px, 28px);
      @include font-weight($semibold);
      color: $blue;
    }

    p {
      @include font-size(18px);
      @include line-height(18px, 26px);
      @include font-weight($regular);
    }

    a {
      color: $blue-light;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }

  &__sidebar {
    @include border('top');
    padding-top: $gutter * 2;

    @include breakpoint($for-tablet-portrait-up) {
      border: 0 none;
      margin-left: $gutter * 2;
      padding: 0;
      > div {
        width: 270px;
      }
    }

    > .community {
      @include border();
      padding: $gutter;
    }
  }

  &__after-content {
    margin: 0 -#{$gutter};
    padding: $gutter * 2 $gutter $gutter * 3 $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      margin: 0;
      padding: $gutter * 2 $gutter;
    }

    @include breakpoint($for-tablet-landscape-up) {
      padding: $gutter * 2 100px;
    }
  }

  // TODO: Refactor these styles.
  // Temporary styles for the lists.
  .views--articles {
    .views-row-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
    }

    .views__row {
      margin: 15px;
      width: calc(100% - (#{$gutter} * 2));

      @include breakpoint($for-tablet-portrait-up) {
        width: calc(50% - (#{$gutter} * 2));
      }
    }
  }

  &--teaser {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-bottom: $gutter * 2;

    @include breakpoint($for-mobile-landscape-up) {
      flex-flow: row;
    }

    .group__image {
      min-width: 270px;
      order: 1;
      width: 100%;

      @include breakpoint($for-tablet-portrait-up) {
        width: 270px;
      }

      img {
        min-height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .group__content {
      background-color: $white;
      order: 2;
      padding: $gutter * 2;

      h2 {
        margin-bottom: 10px;
      }
    }

    .group__link {
      @include border('top');
      margin-top: $gutter * 2;
      padding-top: $gutter;
      text-decoration: none;
    }
  }
}
