.landing-page {
  padding-bottom: $gutter * 2;

  &__slogan {
    @include font-size(22px);
  }

  &__ingress {
    @include font-size(14px);
    @include line-height(14px, 20px);
    color: $black;
    margin-bottom: $gutter * 3;
    text-align: center;
  }
}
