.page-type--landing_page {
  margin-top: $gutter * 4;
}

.landing-page {
  padding-bottom: $gutter * 2;

  &__slogan {
    @include font-size(20px, 26px);
    @include font-weight($regular);
    color: $black;
  }

  &__ingress {
    color: $black;
    @include font-size(20px, 26px);
    @include font-weight($regular);
    margin-bottom: $gutter * 2;
    max-width: 650px;
  }
}

.title__container {
  body.has-sidebar & {
    padding: 0;
  }
}

@include breakpoint(max-width $for-tablet-portrait-up) {
  .sticky-main > .content__wrapper {
    .page-main--landing-page {
      .title__container {
        padding: 0;
      }

      .container {
        padding: 0;
      }
    }
  }
}
