.legislation-attachment {
  background-color: $white;
  display: block;
  padding: $gutter 0;

  &__wrapper {
    align-items: center;
    display: flex;
  }

  &__link,
  &__link:hover {
    text-decoration: none;
  }

  &__icon {
    height: $gutter * 2;
    margin-right: $gutter;
    width: $gutter * 2;
  }

  &__title {
    @include font-size(18px, 18px);
    color: $black;
    font-weight: 600;
    margin-bottom: $gutter * 0.25;

    .legislation-attachment__link:hover & {
      text-decoration: underline;
    }
  }

  &__file-type {
    @include font-size(14px, 12px);
    color: $gray-dark;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__file-size {
    color: $gray-dark;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__cta {
    @include font-size(12px, 12px);
    @include font-weight($semibold);
    background-color: $white;
    border: 1px solid $legislation-blue;
    color: $legislation-blue;
    margin-left: auto;
    padding: $gutter * 0.75 $gutter;
    text-align: center;
    text-transform: uppercase;

    .legislation-attachment__link:hover & {
      background-color: $legislation-blue;
      border-color: $legislation-blue;
      color: $white;
      text-decoration: none;
    }
  }
}
