.media-image {

  &__wrapper {
    position: relative;
  }

  &__creator {
    @include font-size(12px);
    @include line-height(12px, 12px);
    background-color: $white;
    color: lighten($black, 5%);
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 6px;

    &--label {
    }
  }
}
