.title__container {
  margin: 0;
  padding: 0;

  h1 {
    color: $blue;

    &.page-title--alternative {
      @include font-size(32px, 24px);
      @include line-height(32px, 32px, 24px, 24px);
      font-weight: normal;
      text-transform: uppercase;
    }

    &.page-title--secondary {
      @include font-size(32px, 24px);
      @include line-height(32px, 32px, 24px, 24px);
      font-weight: bold;
      letter-spacing: -0.02rem;
    }

    .page-before_content--user & {
      margin-bottom: 0;
    }
  }
}
