.title__container {
  padding: 0;

  .content__wrapper & {
    margin: 0;
  }

  .page-node-type-landing-page & {
    margin-top: $gutter;
    padding: 0 $gutter;
    transition: padding 150ms linear;

    @include breakpoint($for-tablet-portrait-up) {
      margin-top: $gutter * 3;
    }

    @include breakpoint(1200px) {
      padding: 0;
    }
  }

  h1 {
    color: $blue;

    &.page-title--alternative {
      @include font-size(24px, 24px);
      @include font-weight($regular);
      text-transform: uppercase;

      @include breakpoint($for-tablet-portrait-up) {
        @include font-size(32px, 32px);
      }
    }

    &.page-title--secondary {
      @include font-size(24px, 24px);
      @include font-weight($semibold);
      letter-spacing: -0.02rem;
      text-transform: uppercase;

      @include breakpoint($for-tablet-portrait-up) {
        @include font-size(32px, 32px);
      }
    }

    .page-before_content--user & {
      margin-bottom: 0;
    }
  }
}
