.title__container {
  padding: 0;

  .content__wrapper & {
    margin: 0;

    @include breakpoint($for-tablet-portrait-up) {
      margin-top: 10px;
    }
  }
  .page-node-type-landing-page & {
    margin-top: $gutter;
    padding: 0 $gutter;
    transition: padding 150ms linear;

    @include breakpoint($for-tablet-portrait-up) {
      margin-top: $gutter * 3;
    }

    @include breakpoint(1200px) {
      padding: 0;
    }
  }

  .page-node-type-landing-page.has-sidebar & {
    margin-top: 10px;
  }

  h1 {
    color: $blue;

    &.page-title--alternative {
      @include font-size(32px, 24px);
      @include line-height(32px, 32px, 24px, 24px);
      font-weight: normal;
      text-transform: uppercase;
    }

    &.page-title--secondary {
      @include font-size(32px, 24px);
      @include line-height(32px, 32px, 24px, 24px);
      font-weight: bold;
      letter-spacing: -0.02rem;
    }

    .page-before_content--user & {
      margin-bottom: 0;
    }
  }
}
