.views--social-media-twitter {
  .views-row-wrapper {
    display: flex;
    flex-direction: column;

    @include breakpoint($for-mobile-landscape-up) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .views__row {
      background-color: $white;
      margin-bottom: $gutter * 2.25;
      
      @include breakpoint($for-mobile-landscape-up) {
        width: 48%;

        @include breakpoint($for-desktop-up) {
          width: 31.5%; 
        }  
      }
    } 
  }
}

.tweet {
  height: 100%;
  @include font-size(14px);
  @include line-height(14px, 18px);
  padding-bottom: $gutter * 1.25;
  padding-left: $gutter * 1.25;
  
  &__link {
    color: $black;
    text-decoration: none;
    
    &:hover,
    &:focus {
      text-decoration: none;

      .tweet__content {
        text-decoration: underline;
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
  }

  &__author-icon {
    align-items: center;
    background-color: $blue-light;
    border-radius: 100%;
    color: $white;
    display: flex;
    height: 51px;
    width: 51px;
    @include font-size(10px);
    @include line-height(10px, 13px);
    @include font-weight($semibold);
    justify-content: center;
    margin-right: $gutter / 1.25;
    margin-top: $gutter;
  }

  &__author {
    color: $black;

    h3 {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
      margin-bottom: $gutter / 7;
      margin-top: $gutter * 1.5;
    }
    h4 {
      @include font-size(14px);
      @include line-height(14px, 18px);
      @include font-weight($regular);
    }
  }

  .twitter-icon {
    flex-grow: 1;
    text-align: right;
    padding-right: $gutter / 1.2;
    padding-top: $gutter;
    
    svg {
      width: $gutter * 2.5;
      height: $gutter * 2.5;
    }
  }

  &__content,
  &__date {
    padding-right: $gutter * 1.5;
  }

  &__content {
    flex-grow: 1;
    margin-bottom: $gutter;
    margin-top: $gutter * 1.5;
    padding-left: $gutter / 2;

  }

  &__date {
    color: $gray-medium;
    @include font-weight($semibold);   
    text-align: right;
    text-decoration: none;
  }
}