.tweet {
  @include font-size(14px, 18px);
  background-color: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #00000033;
  height: 100%;
  padding: $gutter;

  &-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__link {
    text-decoration: none;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
  }

  &__author-icon {
    img {
      border: 1px solid $blue;
      border-radius: 100%;
      height: 50px;
      padding: 3px;
      width: 50px;
    }
  }

  &__author {
    color: $black;
    margin-left: 10px;

    h3 {
      @include font-size(18px, 23px);
      @include font-weight($semibold);
      margin: 0;
    }

    h4 {
      @include font-size(14px, 18px);
      @include font-weight($regular);
      margin: 0;
    }
  }

  &__content,
  &__date {
    padding-right: $gutter * 1.5;
  }

  &__content {
    @include font-size(18px, 27px);
    @include font-weight($regular);
    flex-grow: 1;
    margin-bottom: $gutter;
    margin-top: $gutter * 1.5;
    padding-left: $gutter / 2;
  }

  &__date {
    @include font-size(14px, 18px);
    @include font-weight($semibold);
    color: $gray-medium;
    letter-spacing: 0;
    padding-left: $gutter / 2;
    text-decoration: none;
  }

  .twitter-icon {
    color: #1DA1F2;
    margin-left: auto;

    svg {
      height: 25px;
      width: 25px;
    }
  }
}
