.view-media-entity-browser-view .view-content .views-row {
  flex-basis: 50%;
}

@media screen and (min-width:43.75em) {
  .view-media-entity-browser-view .view-content .views-row {
    flex-basis: 25%;
  }
}

@media screen and (min-width:50em) {
  .view-media-entity-browser-view .view-content .views-row {
    flex-basis: 20%;
  }
}

.view-media-entity-browser-view .view-content .views-row.bundle-Icon img {
  max-height: 150px;
}

@media screen and (min-width:37.5em) {
  .view-media-entity-browser-view .view-content .views-row.bundle-Icon img {
    max-height: 110px;
  }

  .view-media-entity-browser-view .form--inline {
    display: flex;
    align-items: center;
  }

  .view-media-entity-browser-view .form--inline .form-actions {
    margin: 0 0 0 1rem;
  }
}

.view-media-entity-browser-view .view-content {
  display: flex;
  flex-wrap: wrap;
}

.view-media-entity-browser-view .view-content .media-info {
  font-size: 11px;
  line-height: 11px;
}

.view-media-entity-browser-view nav.pager {
  padding: 20px 20px 0;
}

.paragraph-type--attachment .entities-list .item-container {
  display: inline-block;
  margin: 10px 10px 15px;
  vertical-align: text-bottom;
  max-width: 200px;
  border: 1px solid silver;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
}

.paragraph-type--attachment .entities-list .item-container > img,
.paragraph-type--attachment .entities-list .item-container > input {
  display: block;
  margin: 10px auto 0;
}

.paragraph-type--attachment .entities-list.sortable .item-container:hover {
  cursor: move;
  opacity: 0.6;
}

.paragraph-type--attachment .entities-list .rendered-entity {
  display: inline-block;
  vertical-align: text-top;
}

.paragraph-type--attachment .entities-list.hidden {
  display: none;
}

