.paragraph--liftup-box {
  display: flex;
  flex-wrap: wrap;

  &.paragraph--big-boxes {
    justify-content: center;

    // Force three items on one row after mobile landscape up.
    @include breakpoint($for-mobile-landscape-up) {
      padding: 0 calc(calc(100% - 3 * 164px - 2 * #{$gutter}) / 2);
    }

    .paragraph--liftup-box-item {
      max-width: 164px;

      .paragraph__title {
        @include font-size(14px, 16px);
        margin-bottom: $gutter * 0.5;
      }

      .paragraph__content {
        @include font-size(12px, 16px);
        display: inline-block;
      }
    }
  }

  &:not(.paragraph--big-boxes) {
    .paragraph__icon {
      max-width: 50px;
    }
  }
}

.paragraph--liftup-box-item {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
  color: $black;
  display: flex;
  flex: 1 0 auto;
  height: auto;
  max-width: calc(100% / 2 - #{$gutter});
  padding: $gutter;
  text-decoration: none;
  width: 100%;

  @include breakpoint($for-mobile-portrait-up) {
    max-width: calc(100% / 3 - #{$gutter});
  }

  @include breakpoint($for-mobile-landscape-up) {
    max-width: calc(100% / 4 - #{$gutter});
  }

  @include breakpoint(700px) {
    max-width: calc(100% / 5 - #{$gutter});
  }

  @include breakpoint($for-tablet-portrait-up) {
    max-width: calc(100% / 4 - #{$gutter});
  }

  @include breakpoint(860px) {
    max-width: calc(100% / 5 - #{$gutter});
  }

  &.paragraph {
    margin: $gutter * 0.5;

    &:last-child {
      margin-bottom: $gutter;
    }
  }

  &::before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  .paragraph__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .paragraph__icon {
    margin-bottom: $gutter * 0.5;
    max-width: 80px;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      max-width: 70px;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .paragraph__title {
    @include font-size(14px, 14px);
    font-weight: 600;
  }

  .paragraph__content {
    @include font-size(14px);
    display: none;
  }

  .paragraph--liftup-box & {
    margin-bottom: $gutter;
    margin-top: 0;
  }
}
