.paragraph--media {
  img {
    width: 100%;
  }

  .paragraph__text {
    @include font-size(14px, 22px);
    color: $gray-dark;
    margin-top: $gutter * .5;

    @include breakpoint($for-tablet-portrait-up) {
      @include font-size(15px, 22px);
    }
  }
}
