.paragraph {
  margin: $gutter * 2 0 $gutter * 4;

  &:last-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  > .paragraph__title {
    @include font-size(28px, 34px);
    @include font-weight($semibold);
    color: $black;
    margin-bottom: $gutter * 2;
  }

  > .paragraph__description {
    align-items: flex-start;
    background-color: $white;
    border-left: $gutter / 3 solid $cyan;
    border-radius: $gutter / 3;
    box-shadow: 2px 2px 10px #00000033;
    color: $black;
    display: flex;
    flex-flow: column;
    margin-bottom: $gutter * 2;
    padding: $gutter * 1.6;

    @include breakpoint($for-tablet-portrait-up) {
      align-items: center;
      flex-flow: row;

      .field {
        @include font-size(22px, 30px);
        @include font-weight($regular);
        color: $black;
        flex-basis: 60%;
      }
    }

    .button-wrapper {
      margin-top: $gutter * 2;

      @include breakpoint($for-tablet-portrait-up) {
        flex-basis: 40%;
        margin-top: 0;
        text-align: center;
      }
    }
  }

  .paragraph__link {
    padding-top: $gutter;
  }
}
