.paragraph {
  margin: $gutter * 2 0;

  &:last-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  > .paragraph__title {
    @include font-size(28px, 36px);
    @include font-weight($semibold);
    color: $blue;
    margin-bottom: $gutter * 2;
  }

  > .paragraph__description {
    @include font-size(18px, 26px);
    @include font-weight($regular);
    margin-bottom: $gutter * 2;

    @include breakpoint($for-tablet-portrait-up) {
      max-width: 570px;
    }
  }

  > .paragraph__link {
    margin-top: $gutter * 3;
    text-align: center;
    width: 100%;

    > a {
      @include font-size(16px, 20px);
      @include font-weight($semibold);
      border: 1px solid $blue;
      border-radius: 3px;
      color: $blue;
      display: inline-block;
      margin: $gutter auto;
      padding: 10px 18px;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: white;
        color: $blue;
      }
    }
  }
}
