.paragraph {
  margin: $gutter * 2 0 $gutter * 4;

  &:last-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  > .paragraph__title {
    @include font-size(28px, 34px);
    @include font-weight($semibold);
    color: $black;
    margin-bottom: $gutter * 2;
  }

  > .paragraph__description {
    @include font-size(18px, 26px);
    @include font-weight($regular);
    margin-bottom: $gutter * 2;

    @include breakpoint($for-tablet-portrait-up) {
      max-width: 570px;
    }
  }

  .paragraph__link {
    padding-top: $gutter;
  }
}
