.paragraph.paragraph--list-of-links {
  @include border('top');
  padding-top: $gutter * 2;

  .paragraph__title {
    @include font-size(22px, 28px);
    @include font-weight($semibold);
    color: $black;
    margin-bottom: $gutter * 1.75;
  }
}
