.paragraph--media {
  img {
    width: 100%;
  }

  .paragraph__text {
    @include font-size(14px);
    @include line-height(14px, 22px);
    margin-top: $gutter * .5;
    color: $gray-darker;

    @include breakpoint($for-tablet-portrait-up) {
      @include font-size(15px);
      @include line-height(15px, 22px);
    }
  }
}
