.paragraph--container-title {
  .paragraph__header {
    margin: 0 -#{$gutter} $gutter;
    padding: calc(#{$gutter} * 0.5) $gutter;

    .paragraph__title {
      @include font-size(24px, 30px);
      @include font-weight($semibold);
      color: $black;
      display: inline-block;
      letter-spacing: 0;
      margin: 0;

      @include breakpoint($for-tablet-landscape-up) {
        @include font-size(28px, 36px);
      }
    }

    .paragraph__link {
      align-items: center;
      display: flex;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .paragraph__content {
    > .paragraph {
      margin: 0;
    }
  }
}

.paragraph__link-icon {
  display: inline-block;
  height: 1.125rem;
  margin-left: $gutter * 0.5;
  width: 1.125rem;

  .icon {
    color: $blue-light;
    display: block;
    height: 100%;
    width: 100%;
  }
}
