.paragraph--highlight-bullet-point {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
  background-color: $white;
  padding: $gutter * 1.5;

  .paragraph__title {
    @include font-size(18px);
    font-weight: 600;
  }

  .paragraph-list {
    margin: 0;
    padding: 0;
  }

  .paragraph-list__item {
    @include font-size(15px);
    position: relative;
    padding-left: $gutter * 1.5;
    margin-bottom: $gutter * 0.75;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      width: $gutter * 0.75;
      height: $gutter * 0.75;
      border-radius: 100%;
      background-color: $blue-light;
      position: absolute;
      top: $gutter * 0.5;
      left: 0;
    }
  }
}
