.paragraph--liftup-box {
  @include breakpoint($for-mobile-portrait-up) {
    display: flex;
    flex-wrap: wrap;
  }

  &.paragraph--big-boxes {
    .paragraph--liftup-box-item {
      @include breakpoint($for-desktop-up) {
        max-width: calc(100% / 3 - calc(#{$gutter} * 0.5));
      }

      .paragraph__content {
        display: inline-block;
      }
    }
  }

  &:not(.paragraph--big-boxes) {
    .paragraph--liftup-box-item {
      @include breakpoint($for-desktop-up) {
        max-width: calc(100% / 5 - calc(#{$gutter} * 0.5));
      }

      &:nth-child(3n + 1) {
        @include breakpoint($for-desktop-up) {
          margin-right: inherit;
        }
      }

      &:nth-child(3n + 3) {
        @include breakpoint($for-desktop-up) {
          margin-left: inherit;
        }
      }

      &:nth-child(5n + 1) {
        @include breakpoint($for-desktop-up) {
          margin-right: $gutter * 0.625;
        }
      }

      &:nth-child(5n + 3) {
        @include breakpoint($for-desktop-up) {
          margin-right: $gutter * 0.625;
          margin-left: $gutter * 0.625;
        }
      }

      &:nth-child(5n + 5) {
        @include breakpoint($for-desktop-up) {
          margin-left: $gutter * 0.625;
        }
      }
    }

    .paragraph__icon {
      @include breakpoint($for-desktop-up) {
        max-width: 50px;
      }
    }
  }
}

.paragraph--liftup-box-item {
  display: flex;
  flex: 1 0 auto;
  height: auto;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
  text-decoration: none;
  padding: $gutter;
  color: $black;

  &::before {
    content: '';
    float: left;
    padding-top: 100%;
  }

  .paragraph__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .paragraph__icon {
    max-width: 80px;
    width: 100%;
    margin-bottom: $gutter * 0.5;

    @include breakpoint($for-tablet-portrait-up) {
      max-width: 70px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .paragraph__title {
    font-weight: 600;
  }

  .paragraph__content {
    display: none;
    @include font-size(14px);
  }

  @include breakpoint($for-mobile-portrait-up) {
    max-width: calc(100% / 2 - calc(#{$gutter} * 0.5));
  }

  @include breakpoint($for-mobile-landscape-up) {
    max-width: calc(100% / 3 - calc(#{$gutter} * 0.5));
  }

  @include breakpoint($for-tablet-portrait-up) {
    max-width: calc(100% / 2 - calc(#{$gutter} * 0.5));
  }

  @include breakpoint($for-tablet-landscape-up) {
    max-width: calc(100% / 3 - calc(#{$gutter} * 0.5));
  }

  &:nth-child(2n + 1) {
    @include breakpoint($for-mobile-portrait-up) {
      margin-right: $gutter;
    }

    @include breakpoint($for-mobile-landscape-up) {
      margin-right: inherit;
    }

    @media screen and (min-width: $for-tablet-portrait-up) and (max-width: $for-tablet-landscape-up) {
      margin-right: $gutter !important;
    }

    @include breakpoint($for-tablet-landscape-up) {
      margin-right: inherit;
    }
  }

  &:nth-child(3n + 1) {
    @include breakpoint($for-mobile-landscape-up) {
      margin-right: $gutter * 0.75;
    }

    @include breakpoint($for-tablet-portrait-up) {
      margin-right: inherit;
    }

    @include breakpoint($for-tablet-landscape-up) {
      margin-right: $gutter * 0.75;
    }
  }

  &:nth-child(3n + 3) {
    @include breakpoint($for-mobile-landscape-up) {
      margin-left: $gutter * 0.75;
    }

    @include breakpoint($for-tablet-portrait-up) {
      margin-left: inherit;
    }

    @include breakpoint($for-tablet-landscape-up) {
      margin-left: $gutter * 0.75;
    }
  }

  .paragraph--liftup-box & {
    margin-top: 0;
    margin-bottom: $gutter;

    @include breakpoint($for-mobile-landscape-up) {
      margin-bottom: $gutter * 0.625;
    }

    @include breakpoint($for-tablet-portrait-up) {
      margin-bottom: $gutter;
    }

    @include breakpoint($for-tablet-landscape-up) {
      margin-bottom: $gutter * 0.625;
    }

    &:last-child {
      @include breakpoint($for-mobile-portrait-up) {
        margin-bottom: $gutter;
      }

      @include breakpoint($for-mobile-landscape-up) {
        margin-bottom: $gutter * 0.625;
      }

      @include breakpoint($for-tablet-portrait-up) {
        margin-bottom: $gutter;
      }

      @include breakpoint($for-tablet-landscape-up) {
        margin-bottom: $gutter * 0.625;
      }
    }
  }
}
