.paragraph.paragraph--highlight-text-box {
  padding: $gutter * 1.4;

  .paragraph__title {
    @include font-size(20px, 27px);
    @include font-weight($semibold);
    margin-bottom: $gutter;
  }

  .paragraph__content {
    li,
    p {
      @include font-size(18px, 27px);
      @include font-weight($regular);
    }

    li {
      p {
        margin-bottom: 0;
      }
    }

    ul {
      margin-top: 0;
      padding-left: 0;

      li {
        list-style: none;
        margin-bottom: $gutter * 0.625;
        padding-left: $gutter;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          background-color: $blue-light;
          border-radius: 100%;
          content: '';
          height: 8px;
          left: 0;
          position: absolute;
          top: 10px;
          width: 8px;
        }

        ul {
          li {
            margin-bottom: 0;

            &:before {
              background: transparent;
              border: 1px solid $blue-light;
            }

            ul {
              li {
                margin-bottom: 0;

                &:before {
                  background-color: $blue-light;
                  border-radius: 1px;
                }

                ul {
                  li {
                    margin-bottom: 0;

                    &:before {
                      background: transparent;
                      border: 1px solid $blue-light;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.white {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #00000029;
  }

  &.blue {
    background-color: $blue;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #00000029;

    .paragraph__title,
    .paragraph__content p,
    .paragraph__content li {
      color: $white;
    }

    ul {
      li {
        &:before {
          background-color: $white;
        }

        ul {
          li {
            &:before {
              border: 1px solid $white;
            }

            ul {
              li {
                &:before {
                  background-color: $white;
                }

                ul {
                  li {
                    &:before {
                      border: 1px solid $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
