.paragraph--liftup-entity-reference {
  .paragraph__content-wrapper {
    @include breakpoint($for-tablet-portrait-up) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &.paragraph--3col {
    .paragraph__title {
      @include font-size(28px, 36px);
      @include font-weight($semibold);
      color: $blue;
    }

    .paragraph__content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -#{$gutter};
    }

    .paragraph--liftup-entity-reference-item {
      margin: $gutter;

      .paragraph--full-width {
        flex: 1 1 100%;
      }

      &:not(.paragraph--full-width) {
        flex: 1 1 100%;

        @include breakpoint($for-tablet-portrait-up) {
          flex: 1 1 30%;
        }

        .article-teaser__image,
        .article-teaser__lead {
          display: none;
        }
      }
    }
  }

  &.paragraph--2col {
    .paragraph__content-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -#{$gutter};
    }

    .paragraph--liftup-entity-reference-item {
      margin: $gutter;

      .paragraph--full-width {
        flex: 1 1 100%;
      }

      &:not(.paragraph--full-width) {
        flex: 1 1 100%;

        @include breakpoint($for-tablet-portrait-up) {
          flex: 1 1 45%;
        }
      }
    }
  }
}

.paragraph--liftup-entity-reference-item {
  &.paragraph--full-width {
    width: 100%;
  }

  .paragraph--liftup-entity-reference &:last-child {
    margin-bottom: $gutter;
  }
}
