.paragraph--liftup-prominent {
  background-color: $blue-medium;
  padding: $gutter;

  .article-prominent {
    background-color: $white;
    margin: 0;
    padding: 0;
  }

  .paragraph__content {
    background-color: $white;

    .btn {
      margin: 0 $gutter $gutter;
    }
  }

  &.paragraph {
    margin: 0 0 $gutter;
  }
}
