.paragraph.paragraph--list-of-links {
  @include border('top');
  padding-top: $gutter * 2;

  .paragraph__title {
    @include font-size(14px);
    @include line-height(14px, 18px);
    @include font-weight($semibold);
    color: $blue;
    margin-bottom: $gutter * 1.75;
    text-transform: uppercase;
  }
}
