.paragraph--group-view {
  padding: $gutter * 2 0;

  .paragraph__title {
    @include font-size(28px, 34px);
    @include font-weight($semibold);
    color: $black;
    margin-bottom: $gutter * 1.6;
  }

  .paragraph__description,
  .paragraph__description p {
    @include font-size(20px, 26px);
    @include font-weight($regular);
    color: $black;
  }

  .paragraph__content {
    margin-top: $gutter * 2;
  }

  .views--members {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -#{$gutter};
  }
}
