.paragraph.paragraph--hero {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 430px;

  @include breakpoint($for-desktop-up) {
    height: auto;
    min-height: 340px;
  }

  &.paragraph {
    margin: 0;
  }

  .paragraph__content-wrapper {
    margin: 0 auto;
    max-width: $container-desktop;
    width: 100%;
    z-index: 10;
  }

  .paragraph__content {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 2px 2px 30px #3636364D;
    margin: $gutter * 2 $gutter $gutter * 4;
    max-width: 650px;
    padding: 20px 20px 40px;
    z-index: 2;

    @include breakpoint($for-tablet-landscape-up) {
      margin: $gutter * 4 $gutter $gutter * 2;
      max-width: 730px;
    }

    @include breakpoint(1200px) {
      margin: $gutter * 4 0 $gutter * 2;
    }
  }

  .paragraph__title {
    @include font-size(40px, 50px);
    @include font-weight($semibold);
    color: $blue;
    letter-spacing: 0;
    margin-bottom: $gutter;

    @include breakpoint($for-tablet-portrait-up) {
      margin-bottom: 20px;
    }
  }

  .paragraph__description {
    @include font-size(22px, 30px);
    @include font-weight($regular);
    color: $black;
    letter-spacing: 0;
    margin-bottom: 10px;

    @include breakpoint($for-tablet-portrait-up) {
      margin-bottom: $gutter * 2;
    }
  }

  .paragraph__link {
    align-items: center;
    display: flex;

    .icon {
      color: $purple;
      margin-left: -7px;
      max-height: 20px;
      max-width: 20px;
    }

    > a {
      @include font-size(18px, 23px);
      @include font-weight($regular);
      color: $blue-light;
      display: inline-block;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
}
