.paragraph--banner-cta  {
  align-items: center;
  background-color: $blue-light;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  padding: $gutter;
  text-decoration: none;
  width: 100%;

  @include breakpoint($for-mobile-landscape-up) {
    align-items: center;
    flex-flow: row;
  }

  &:hover {
    &,
    .paragraph__title,
    .paragraph__description,
    .paragraph__button {
      text-decoration: none;
    }

    .paragraph__button {
      background-color: $white;
      color: $blue;
    }
  }

  .paragraph__content-wrapper {
    width: 70%;
  }

  .paragraph__title {
    @include font-size(22px, 28px);
    @include font-weight($semibold);
    color: $white;
    margin-bottom: $gutter;
  }

  .paragraph__description {
    @include font-size(18px, 27px);
    @include font-weight($regular);
    color: $white;
  }

  .paragraph__button {
    @include font-size(16px, 26px);
    @include font-weight($semibold);
    border: 3px solid $white;
    border-radius: 5px;
    color: $white;
    display: block;
    margin-top: $gutter;
    padding: 10px 30px;
    text-align: center;

    @include breakpoint($for-mobile-landscape-up) {
      margin-top: 0;
    }

  }
}
