.paragraph.paragraph--highlight-bullet-point {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #00000029;
  padding: $gutter * 1.5;

  .paragraph__title {
    @include font-size(20px, 27px);
    @include font-weight($semibold);
    margin-bottom: $gutter;
  }

  .paragraph-list {
    margin: 0;
    padding: 0;
  }

  .paragraph-list__item {
    @include font-size(18px, 27px);
    @include font-weight($regular);
    list-style: none;
    margin-bottom: $gutter * 0.75;
    padding-left: $gutter * 1.5;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      background-color: $blue-light;
      border-radius: 100%;
      content: '';
      height: 12px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 12px;
    }
  }
}
