.paragraph--container-title {
  .paragraph__header {
    background-color: $gray-lighter;
    margin: 0 -#{$gutter} $gutter;
    padding: calc(#{$gutter} * 0.5) $gutter;

    .paragraph__title {
      @include font-size(20px, 26px);
      color: $blue;
      display: inline-block;
      font-weight: 600;
      letter-spacing: 0;
      margin: 0;

      @include breakpoint($for-tablet-landscape-up) {
        @include font-size(22px, 28px);
      }
    }

    .paragraph__link {
      align-items: center;
      display: flex;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.paragraph__link-icon {
  display: inline-block;
  height: 1.125rem;
  margin-left: $gutter * 0.5;
  width: 1.125rem;

  .icon {
    color: $blue-light;
    display: block;
    height: 100%;
    width: 100%;
  }
}
