.paragraph.paragraph--highlight-cta {
  background-color: $white;
  border-left: calc($gutter / 3) solid $cyan;
  border-radius: calc($gutter / 3);
  box-shadow: 2px 2px 10px #00000033;
  display: block;
  padding: $gutter * 1.4 $gutter;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;

    .paragraph__title {
      color: $black;
      text-decoration: underline;
    }

    .paragraph__title-icon .icon {
      color: $black;
    }
  }

  .paragraph__title {
    @include font-size(18px, 27px);
    @include font-weight($semibold);
    align-items: center;
    color: $blue-light;
    display: inline-flex;
    margin-bottom: $gutter;
  }

  .paragraph__title-icon {
    display: inline-block;
    position: relative;

    .icon {
      color: $purple;
      height: 24px;
      position: absolute;
      right: -23px;
      top: -11px;
      width: 18px;
    }
  }

  .paragraph__content {
    @include font-size(18px, 26px);
    @include font-weight($regular);
    color: $black;
  }
}
