.paragraph.paragraph--highlight-cta {
  @include border();
  color: inherit;
  display: block;
  padding: calc(#{$gutter} * 0.5) $gutter;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;

    .paragraph__title {
      text-decoration: underline;
    }
  }

  .paragraph__title {
    @include font-size(16px);
    display: inline-block;
    font-weight: 600;
    margin-bottom: 0;
  }

  .paragraph__title-icon {
    display: inline-block;
    height: 1.125rem;
    margin-left: $gutter * 0.5;
    width: 1.125rem;

    .icon {
      color: $orange-dark;
      display: inline-block;
      height: 100%;
      vertical-align: text-bottom;
      width: 100%;
    }
  }

  .paragraph__content {
    @include font-size(15px);
  }
}
