.paragraph.paragraph--contact-information {
  @include border('top');
  padding-top: $gutter * 2;

  .paragraph__title {
    @include font-size(22px, 28px);
    @include font-weight($semibold);
    color: $blue;
  }

  .paragraph-list {
    @include breakpoint(670px) {
      padding-top: $gutter;
    }

    .field__items {
      display: flex;
      flex-flow: column;

      @include breakpoint(670px) {
        flex-flow: row;
        flex-wrap: wrap;
        margin: 0 -#{$gutter};

        > .field__item {
          flex-basis: 0;
          flex-grow: 1;
          margin: 0 $gutter $gutter * 2 $gutter;
        }
      }
    }
  }

  .paragraph-list__item {
    margin-bottom: $gutter * 2;
    margin-right: $gutter;
    min-width: 270px;

    @include breakpoint(670px) {
      margin-bottom: $gutter;
    }

    .icon {
      color: $gray-medium;
      height: 25px;
      width: 25px;
    }
  }

  .contact-information {
    @include font-size(18px, 26px);

    &__name {
      @include font-size(18px, 26px);
      @include font-weight($semibold);
      margin-bottom: 0;
    }

    &__organisation {
      @include font-weight($regular);
    }

    &__phone {
      @include font-weight($semibold);
      margin: $gutter 0;

      &:hover {
        .icon {
          color: $gray-dark;
        }
      }

      > a {
        align-items: center;
        display: flex;

        .icon {
          margin-right: 10px;
        }
      }
    }

    &__email {
      @include font-weight($semibold);
      align-items: center;
      display: flex;
      margin: $gutter 0;

      &:hover {
        .icon {
          color: $gray-dark;
        }
      }

      .icon {
        margin-right: 10px;
      }
    }
  }
}
