.flag {
  display: inline-block;
  margin-left: $gutter * 2;

  &-wrapper {
    &.flag--top {
      margin-top: $gutter;

      @include breakpoint($for-mobile-landscape-up) {
        margin-left: auto;
        margin-top: -22px;
      }
    }

    &.flag--bottom {
      margin-top: $gutter;
      text-align: right;

      > div {
        margin-bottom: $gutter;
        margin-left: $gutter;
      }

      @include breakpoint($for-mobile-landscape-up) {
        margin-top: 0;

        .event__header & {
          margin-top: $gutter * 2;
        }
      }
    }
  }

  p {
    display: none;
  }

  &__link {
    align-items: center;
    background: #D5E4F6 linear-gradient(0deg, #D5E4F6 0%, #EAF2FA 100%);
    border-radius: 5px;
    color: $blue-light;
    display: flex;
    padding: 10px 20px;
    text-decoration: none;

    &:active,
    &:hover {
      background: #D5E4F6;
      color: $blue-light;
      text-decoration: none;

      .flag__label {
        color: $blue-light;
        text-decoration: none;
      }
    }
  }

  &__label {
    @include font-size(16px, 26px);
    @include font-weight($semibold);
  }

  &__icon {
    display: flex;
    margin-right: $gutter;

    .icon {
      height: 20px;
      width: 20px;

      @include icon-colors($gray) {
        --fill-color: transparent;
        --stroke-color: #2A6EBB;
      };

      .action-unflag & {
        @include icon-colors($gray) {
          --fill-color: #2A6EBB;
          --stroke-color: #2A6EBB;
        };
      }
    }
  }
}
