.profile {
  &__my-bookmarks,
  &__own-content {
    margin-bottom: $gutter * 2;
    margin-top: $gutter;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      margin-top: 0;
    }

    h2 {
      @include font-size(22px, 28px);
      @include border('bottom');
      color: $blue;
      font-weight: 600;
      letter-spacing: 0;
      padding-bottom: 10px;
      width: 100%;
    }
  }
}
