.profile-card {
  align-items: center;
  background-color: $white;
  border-left: $gutter / 3 solid $cyan;
  border-radius: $gutter / 3;
  box-shadow: 2px 2px 10px #00000033;
  display: flex;
  flex-direction: column;
  margin: $gutter * 2 0 $gutter;

  .author-item &,
  &.vocabulary-author {
    background-color: $white;
    border-left: 0 none;
    border-radius: 0;
    box-shadow: unset;
    margin: 0 0 $gutter;

    .profile-card__picture {
      @include breakpoint($for-tablet-portrait-up) {
        margin-left: -#{$gutter * 2}
      }
    }
  }

  @include breakpoint($for-tablet-portrait-up) {
    flex-direction: row;
  }

  &__picture {
    align-content: center;
    display: flex;
    height: calc(210px + (#{$gutter} * 2 * 2));
    justify-content: center;
    min-width: calc(210px + (#{$gutter} * 2 * 2));
    padding: $gutter * 2;
    width: calc(210px + (#{$gutter} * 2 * 2));

    @include breakpoint($for-tablet-portrait-up) {
      margin-left: $gutter * 4;
    }

    .blog__author--prominent &,
    .article__author--prominent & {
      height: calc(170px + (#{$gutter} * 2 * 2));
      min-width: calc(170px + (#{$gutter} * 2 * 2));
      width: calc(170px + (#{$gutter} * 2 * 2));
    }

    img {
      border-radius: 100%;
    }

    &--letter {
      @include font-size(72px);
      align-items: center;
      background-color: $blue-light;
      border-radius: 100%;
      color: $white;
      display: flex;
      font-weight: bold;
      height: 100%;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
    }
  }

  &__content {
    padding: $gutter * 2;
    text-align: center;
    width: 100%;

    @include breakpoint($for-tablet-portrait-up) {
      text-align: left;
    }

    &--primary {
      &.with-border {
        border-bottom: 1px solid $gray-medium;
        margin-bottom: $gutter;
        padding-bottom: $gutter * 1.35;

        .blog__author--prominent &,
        .article__author--prominent & {
          border-bottom: 0 none;
          padding-bottom: 0;
        }
      }
    }
  }

  &__name {
    @include font-size(28px, 34px);
    @include font-weight($semibold);
    letter-spacing: 0;
    margin-bottom: $gutter / 2;

    > div {
      display: inline;
    }

    .author-item & {
      @include font-size(22px, 28px);
      color: $blue-light;
    }
  }

  &__profession {
    @include font-size(18px, 24px);
    @include font-weight($semibold);
    letter-spacing: 0;

    > div {
      display: inline;
    }

    .author-item & {
      @include font-size(18px, 27px);
      @include font-weight($regular);
      color: $black;
    }
  }

  &__description {
    @include font-size(18px, 26px);
    @include font-weight($regular);
    letter-spacing: 0;
    margin-bottom: $gutter;

    .author-item & {
      color: $gray-dark;
    }
  }

  &__some {
    background-color: $white;
    display: inline-block;
    list-style: none;
    margin-right: $gutter;

    &:last-of-type {
      margin-right: 0;
    }

    .icon {
      max-height: $gutter * 2;
      max-width: $gutter * 2;
    }

    &.linkedin {
      color: #0079B2;
    }

    &.twitter {
      color: #0DA4EE;
    }

    &:focus,
    &:active,
    &:hover {
      color: $black;
    }
  }

  .article__author--prominent,
  .blog__author--prominent & {
    border-bottom: 0 none;
  }

  &--mini {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-items: center;
    margin: 10px $gutter;

    .profile-card__picture {
      height: calc(70px + (#{$gutter} * 2));
      margin: 0;
      min-width: calc(70px + (#{$gutter} * 2));
      padding: $gutter;
      width: calc(70px + (#{$gutter} * 2));

      &--letter {
        @include font-size(40px);
      }
    }

    .profile-card__content {
      padding: 0;
    }

    .profile-card__name {
      @include font-size(18px, 26px);
      @include font-weight($semibold);
      color: $blue-light;
      margin: 0;
      text-align: center;
    }
  }
}
