.breadcrumb {
  @include font-size(15px, 23px);
  color: $gray-darker;
  margin: 0;
  padding: $gutter 0;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size(16px, 23px);
  }

  a {
    color: $blue-light;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      color: $black;
    }
  }

  .icon {
    height: 16px;
    margin: 0 3px 2px 4px;
    vertical-align: middle;
    width: 16px;
  }

  svg {
    height: auto;
    max-height: 50px;
    max-width: 50px;
    width: 100%;
  }
}
