//
// @file
// This file includes styling related to local tasks such as "view" and "edit"
//

.local-tasks {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: $gutter -5px;
  padding: 0;

  .local-task {
    margin: $gutter / 3;

    a {
      @include button;
      @include font-size(14px);
      @include line-height(14px, 18px);

      background-color: $white;
      border: 1px solid $blue;
      box-shadow: 0 3px 6px #00000029;
      color: $blue;

      &.is-active {
        background-color: $blue;
        box-shadow: 0 0 0 transparent;
        color: $white;
        cursor: default;
      }
    }
  }
}
