//
// @file
// This file includes styling related to local tasks such as "view" and "edit"
//

.local-tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: $gutter 0;
  padding: 0;

  .local-task {
    margin: .5rem;

    a {
      @include button;
      background-color: $white;

      &.is-active {
        background-color: $black;
        box-shadow: 0 8px 6px -6px rgba($black, 0.1);
        color: $white;
        cursor: default;
      }
    }
  }
}
