//
// @file
// This file includes styling related to menus in general
//
nav.menu--sidebar {
  display: none;
  margin-bottom: $gutter * 2;
  padding-bottom: $gutter / 1.5;

  @include breakpoint($for-tablet-portrait-up) {
    display: block;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    margin: 0;
    padding: 0;

    > span,
    > a {
      @include font-size(14px, 18px);
      color: $blue;
      display: block;
      padding: 0.75rem 0;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;

      &:hover,
      &:focus {
        text-decoration: underline $blue;
      }

      &.is-active {
        background-color: $gray-lighter;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    &--lvl-0 {
      > span,
      > a {
        @include border('bottom');
        color: $blue;
        font-weight: bold;
        letter-spacing: 0;
      }
    }

    &--lvl-1 {
      > span,
      > a {
        background: $white;
        border-left: 5px solid transparent;
        padding-left: $gutter;
        text-transform: none;

        &.is-active {
          @include font-weight($semibold);
          border-color: $blue-light;
          color: $blue-light;
        }
      }

      &.menu-item--active-trail {
        > span,
        > a {
          @include font-weight($semibold);
          background-color: $white;
          border-left: 5px solid $blue-light;
        }
      }
    }

    &--lvl-2 {
      > span,
      > a {
        background-color: $gray-lighter;
        border-left: 10px solid $gray-medium;
        padding-left: $gutter;
        text-transform: none;

        &.is-active {
          @include font-weight($semibold);
          background-color: $white;
          border-color: $blue-light;
          color: $blue-light;
        }
      }

      &.menu-item--active-trail {
        > span,
        > a {
          background-color: $white;
          border-color: $blue-light;
          @include font-weight($semibold);
        }
      }
    }

    &--lvl-3 {
      > span,
      > a {
        background: $white;
        border-left: 15px solid $gray-medium;
        padding-left: $gutter;
        text-transform: none;

        &.is-active {
          @include font-weight($semibold);
          background-color: $white;
          border-color: $blue-light;
          color: $blue-light;
        }
      }

      &.menu-item--active-trail {
        > span,
        > a {
          background-color: $white;
          border-color: $blue-light;
          @include font-weight($semibold);
        }
      }
    }
  }

  // Handle active trail.
  .menu-item--active-trail {
    ul {
      display: none;
    }

    > ul {
      display: block;
    }
  }
}
