.menu--content-creation {
  display: flex;

  .icon__wrapper {
    .icon {
      height: 23px;
      width: 23px;

      &--user {
        margin-right: $gutter / 1.5;
      }

      &--chevron {
        color: $blue;
        height: $gutter;
        margin-left: $gutter / 3;
        width: $gutter;
      }
    }
  }

  &__button {
    @include font-size(14px, 18px);
    background-color: transparent;
    border: 0 none;
    color: $blue-light;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0;
    padding: 0;

    > a {
      text-decoration: none;
    }

    .icon__wrapper {
      align-items: center;
      display: flex;
    }

    .icon {
      margin-left: $gutter / 1.5;
    }

    &[aria-expanded=true] {
      .icon--button-plus {
        display: none;
      }
      .icon--button-minus {
        display: block;
      }
    }
    &[aria-expanded=false] {
      .icon--button-plus {
        display: block;
      }
      .icon--button-minus {
        display: none;
      }
    }
  }

  &__dropdown {
    display: none;

    &.is-active {
      background: $white;
      box-shadow: 0 3px 6px #00000029;
      display: block;
      list-style: none;
      margin: 0;
      padding: $gutter / 1.5 0;
      position: absolute;
      right: -8px;
      top: 35px;
      width: 200px;
      z-index: 1000;

      &:after,
      &:before {
        border: solid transparent;
        bottom: 100%;
        content: " ";
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 20px;
        width: 0;
      }

      &:before {
        border-bottom-color: $gray-light;
        border-width: 8px;
        margin-right: -8px;
      }

      &:after {
        border-bottom-color: $white;
        border-width: 7px;
        margin-right: -7px;
      }
    }

    .item-list,
    .item-list .links {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .links li {
      @include font-size(14px, 18px);
      align-items: center;
      display: flex;
      font-weight: 600;
      margin: 0;
      text-decoration: none;

      a {
        border-left: $gutter / 3 solid transparent;
        padding: $gutter / 1.5 $gutter;
        text-decoration: none;
        width: 100%;
      }

      &--active-trail a,
      a:focus,
      a:hover {
        background-color: $gray-light;
        border-left: $gutter / 3 solid $blue-light;
        color: $blue-light;
      }
    }
  }
}

