.language-switch {
  display: none;

  @include breakpoint($for-tablet-portrait-up) {
    display: block;
    margin: 0;
    padding: 0;

    &__wrapper {
      line-height: 0;
      position: relative;

      &:not(.is-active) .language-switch__dropdown {
        display: none;
      }
    }

    &__button {
      @include font-size(14px, 14px);
      align-items: center;
      background-color: $white;
      border: 1px solid $blue;
      border-radius: 3px;
      color: $black;
      display: flex;
      height: 30px;
      justify-content: center;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
      width: 50px;

      &[aria-expanded=true] {
        color: $orange-dark;

        svg {
          fill: $orange-dark;
          transform: rotate(180deg);
        }
      }

      .icon {
        display: inline-block;
        fill: $black;
        margin-right: -3px;
        max-height: 15px;
        width: 18px;

        &__wrapper {
          line-height: 0;
          margin-left: 2px;
        }
      }
    }

    &__dropdown {
      background: $white;
      border: 1px solid $gray-light;
      border-radius: 2px;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
      position: absolute;
      right: 0;
      top: 45px;
      z-index: 1000;

      &:after,
      &:before {
        border: solid transparent;
        bottom: 100%;
        content: " ";
        height: 0;
        pointer-events: none;
        position: absolute;
        right: 20px;
        width: 0;
      }

      &:before {
        border-bottom-color: $gray-light;
        border-width: 8px;
        margin-right: -8px;
      }

      &:after {
        border-bottom-color: $white;
        border-width: 7px;
        margin-right: -7px;
      }

      .language-links {
        padding-bottom: 10px;
        padding-top: 10px;

        .language-link {
          @include font-size(16px, 26px);
          border-left: 6px solid transparent;
          color: $blue-dark;
          display: block;
          padding-left: 14px;
          padding-right: 20px;
          text-decoration: none;
          white-space: nowrap;

          &.is-active,
          &:focus,
          &:hover {
            border-left: 6px solid $blue-light;
          }

          &.is-active {
            font-weight: bold;
          }
        }

        span.language-link:not(.is-active) {
          color: $gray-medium;

          &:focus,
          &:hover {
            border-left: 6px solid transparent;
          }
        }
      }
    }
  }
}

.moby-menu {
  .language-switch {
    &__button {
      display: none;
    }

    &__wrapper {
      @include border('top');
      margin-top: $gutter;
      padding-top: $gutter;

      .language-links {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      .language-link {
        padding: 0 $gutter / 2;
        text-transform: uppercase;

        &--abbreviation {
          display: none;
        }
      }
//////////////////////
      span.language-link:not(.is-active) {
        color: $gray-medium;
      }

    }
  }
}
