.menu-button {
  background: transparent;
  border: 0 none;
  color: $gray;
  margin: 0 0 0 $gutter * 1.4;

  .icon {
    height: 30px;
    margin-top: 5px;
    width: 30px;
  }

  @include breakpoint($for-tablet-portrait-up) {
    display: none;
  }

  &--open {
    .moby-body-fixed & {
      visibility: hidden;
    }
  }

  &--close {
    display: none;
    opacity: 0;

    .menu-button--close {
      transition: opacity .4s ease .4s;
    }

    .moby-body-fixed & {
      display: block;
      fill: $gray;
      opacity: 1;
      padding: 5px;
      position: absolute;
      right: 18px;
      top: 18px;
      z-index: 2001;
    }

    .moby-body-fixed.toolbar-vertical &,
    .moby-body-fixed.toolbar-vertical.toolbar-tray-open &,
    .moby-body-fixed.toolbar-fixed &,
    .moby-body-fixed.toolbar-fixed.toolbar-horizontal & {
      top: 57px;
    }
  }
}
