.menu-footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -$gutter;
  padding: 0;
  width: 100%;
}

.menu--footer-navigation {
  width: 100%;
}

.menu-footer__item {
  margin: calc($gutter / 3) $gutter;
}

.menu-footer__link {
  @include font-size(16px, 26px);
  @include font-weight($semibold);
  color: $blue-light;
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom: 1px solid $black;
    text-decoration: none;
  }
}
