//
// @file
// This file includes styling related to menus in general
//
nav.menu--sidebar {
  display: none;
  margin-bottom: $gutter * 2;
  padding-bottom: $gutter / 1.5;

  @include breakpoint($for-tablet-portrait-up) {
    display: block;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    margin: 0;
    padding: 0;

    > span,
    > a {
      @include font-size(16px, 27px);
      @include font-weight($regular);
      color: $blue-light;
      display: block;
      hyphens: auto;
      letter-spacing: 0;
      padding: 16px 22px;
      position: relative;
      text-decoration: none;
      width: 100%;

      &:hover,
      &:focus {
        color: $black;
        text-decoration: none;
      }

      // Border-bottom
      &::after {
        background-color: $gray-light;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }

      &.is-active {
        background-color: #F4FBFE;

        // Border-left
        &::before {
          background-color: $cyan;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 10px;
        }

        &:hover,
        &:focus {
          color: $blue-light;
        }
      }
    }

    &.menu-item--active-trail {
      position: relative;

      // Border-left
      &::before {
        background-color: $gray;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 5px;
      }

      > span,
      > a {
        // Border-bottom
        &::after {
          left: 5px;
        }

        &.is-active {
          @include font-weight($regular);
        }
      }

      .menu-item--lvl-1,
      .menu-item--lvl-2,
      .menu-item--lvl-3 {
        > span,
        > a {
          &::after {
            left: 5px;
          }
          &.is-active {
            @include font-weight($semibold);
          }
        }
      }

      .menu--is-lvl-2 {
        &::after {
          left: 5px;
        }

        > span,
        > a {
          &.is-active {
            &::after {
              display: none;
            }
          }
        }
      }
    }

    &--lvl-0 {
      > span,
      > a {
        @include font-size(22px, 27px);
        @include font-weight($regular);
        color: $blue-light;
        letter-spacing: 0;
        padding-left: 20px;
        padding-right: 20px;
      }

      &:not(.menu-item--active-trail) {
        display: none;
        visibility: hidden;
      }
    }

    &--lvl-1 {
      > span,
      > a {
        @include font-size(18px, 27px);
        @include font-weight($regular);

        &.is-active {
          @include font-weight($semibold);
        }
      }
    }

    &--lvl-2 {
      > span,
      > a {
        padding-left: 35px;
        padding-right: 20px;

        &.is-active {
          @include font-weight($semibold);
        }
      }
    }

    &--lvl-3 {
      > span,
      > a {
        @include font-size(16px, 27px);
        @include font-weight($regular);
        color: $blue-light;
        padding-left: 50px;
        padding-right: 20px;
      }
    }
  }

    // Handle active trail.
  .menu-item--active-trail {
    ul {
      display: none;
    }

    > ul {
      display: block;
    }
  }
}
