//
// @file
// This file includes styling related to menus in general
//
nav.menu--sidebar {
  @include border('bottom');
  display: none;
  padding-bottom: $gutter*2;

  @include breakpoint($for-tablet-portrait-up) {
    display: block;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu-item {
    margin: 0;
    padding: 0;

    > span,
    > a {
      @include font-size(14px);
      @include line-height(14px, 17px);
      color: $black;
      display: block;
      padding: 0.75rem 1rem;
      text-decoration: none;
      width: 100%;

      &:hover,
      &:focus {
        text-decoration: underline $blue;
      }

      &.is-active {
        background-color: $gray-lighter;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    &--lvl-0 {
      > span,
      > a {
        @include font-size(18px);
        @include line-height(18px, 18px);
        font-weight: bold;
      }
    }

    &--lvl-1 {
      > span,
      > a {
        text-transform: uppercase;
      }
    }
  }
}
