//
// @file
//
// This file includes everything related to the main menu styles and mmenu overrides.
//
.page-header__mobile {
  align-items: center;
  background-image: url("../../images/header_background_illustration.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 134px;
  justify-content: center;

  p {
    @include font-size(14px);
    @include line-height(14px, 16px);
    color: white;
    margin-bottom: 0;
    max-width: 200px;
    padding-top: 1rem;
    text-align: center;
  }

  .logo--text {
    @include font-size(22px);
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

.moby-body-fixed {
  .moby-overlay {
    &.dark {
      background: rgba(0, 0, 0, 0.6);
    }
  }

  .moby.left-side {
    width: 85%;
  }

  .moby-menu {
    border-bottom: 1px solid rgba(165,172,176,.3);
    padding-bottom: $gutter;

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .menu-item {
      margin: 0;
      padding: 0;

      > span,
      > a {
        @include font-size(14px);
        @include line-height(14px, 17px);
        color: $black;
        display: block;
        padding: 0.75rem 1rem;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline $blue;
        }

        &.is-active {
          background-color: $gray-lighter;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }

      &--lvl-0 {
        > span,
        > a {
          @include font-size(18px);
          @include line-height(18px, 18px);
          font-weight: bold;
        }
      }

      &--lvl-1 {
        > span,
        > a {
          text-transform: uppercase;
        }
      }
    }
  }
}

.moby-expand {
  svg {
    height: 1.3rem;
  }
}

@include breakpoint($for-tablet-portrait-up) {
  .moby,
  .moby-overlay {
    display: none;
  }
}
