.menu-button {
  background: transparent;
  border: 0 none;
  color: $black;
  margin: 0 0 0 $gutter * 0.5;

  .icon {
    height: 30px;
    margin-top: 5px;
    width: 30px;
  }

  @include breakpoint($for-tablet-portrait-up) {
    display: none;
  }

  &--open {
    .moby-body-fixed & {
      visibility: hidden;
    }
  }

  &--close {
    display: none;
    opacity: 0;

    .menu-button--close {
      transition: opacity .4s ease .4s;
    }

    .moby-body-fixed & {
      display: block;
      fill: white;
      opacity: 1;
      padding: 5px;
      position: absolute;
      right: calc(15%/2 - 20px);
      top: $gutter;
      z-index: 2001;

      svg {
        fill: white;
      }
    }

    .moby-body-fixed.toolbar-vertical &,
    .moby-body-fixed.toolbar-vertical.toolbar-tray-open &,
    .moby-body-fixed.toolbar-fixed &,
    .moby-body-fixed.toolbar-fixed.toolbar-horizontal & {
      top: 50px;
    }
  }
}
