//
// @file
// This file includes styling related to menus in general
//
nav.menu--desktop {
  display: none;

  @include breakpoint($for-tablet-portrait-up) {
    display: block;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -#{$gutter * 1.4};
    padding: 0;
  }

  .menu-item {
    @include line-height(18px, 23px);
    margin: 0 $gutter * 1.4;
    padding: 0;
    text-align: center;

    > span,
    > a {
      @include font-size(18px);
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;
      color: $white;
      display: inline-block;
      padding: $gutter / 1.5  $gutter / 3;
      text-decoration: none;

      &:hover,
      &:focus,
      &.is-active {
        border-bottom: 5px solid $blue-light;
      }
    }

    &.menu-item--active-trail {
      > span,
      > a {
        border-bottom: 5px solid $blue-light;
      }
    }
  }
}

// Makes footer sticky at the bottom
.mm-page {
  height: 100%;
}
