.shortcuts {
  &--footer {
    background-color: $purple;
    width: 100%;

    h2 {
      @include font-size(14px, 18px);
      @include font-weight($semibold);
      color: $white;
      font-weight: 600;
      letter-spacing: 0;
      margin: 0 0 25px;
      padding: 0;
      text-transform: uppercase;
    }

    a {
      @include font-size(22px, 28px);
      @include font-weight($semibold);
      color: $white;
      display: block;
      letter-spacing: 0;
      margin-bottom: $gutter * 2;
      text-decoration: none;
      transition: all 0.1s;

      &.is-active {
        opacity: 0.75;

        &:focus,
        &:hover {
          cursor: default;
        }
      }

      &:focus,
      &:hover {
        opacity: 0.75;
        text-decoration: none;
      }
    }

    .icon {
      color: rgba(255, 255, 255, 0.50);
      display: inline;
      height: 25px;
      opacity: 0.5;
      transform: rotate(-90deg) translateY(-8px);
      width: 25px;
    }

    .theme-term__title {
      align-items: center;
      display: flex;

      > div {
        display: inline;
        line-height: 25px;
        margin-left: -10px;
      }
    }
  }

  &__container {
    padding: 20px $gutter 40px;

    @include breakpoint($for-tablet-portrait-up) {
      padding: $gutter * 2 $gutter 40px;
    }

    @include breakpoint(1200px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5px;

    @include breakpoint($for-mobile-landscape-up) {
      flex-direction: row;
    }

    .vocabulary-theme {
      display: inline;
      min-width: 220px;
    }
  }
}

.theme-term {
  &__header--alternative {
    justify-content: flex-start;
    margin: 0;
    padding: $gutter/3 0 $gutter/3 0;

    .theme-term__image {
      min-height: $gutter*2;
      min-width: $gutter*2;

      @include breakpoint($for-tablet-portrait-up) {
        display: block;
      }
    }
  }
}
