nav.shortcuts--mobile,
nav.shortcuts--sidebar,
.moby-shortcuts {
  h2 {
    @include font-size(14px);
    color: $black;
    font-weight: bold;
    margin: 0;
    padding: $gutter $gutter 0;
    text-transform: uppercase;
  }

  a {
    @include font-size(14px);
    @include line-height(14px, 18px);
    color: $gray-darker;
    display: block;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.1s;

    .theme-term__image img {
      transition: all 0.1s;
    }

    &.is-active {
      background-color: $gray-lighter;
      &:focus,
      &:hover {
        cursor: default;
        color: $gray-darker;

        .theme-term__image img {
          max-height: calc(#{$gutter} * 2);
          max-width: calc(#{$gutter} * 2);
          margin: 0;
        }
      }
    }

    &:focus,
    &:hover {
      color: $black;

      .theme-term__image img {
        max-height: calc(#{$gutter} * 2 + 4px);
        max-width: calc(#{$gutter} * 2 + 4px);
        margin: -2px -2px -2px -2px;
      }
    }
  }
}

.moby-shortcuts {
  padding-bottom: $gutter;
}

nav.shortcuts--mobile {
  display: none;
}

nav.shortcuts--sidebar {
  display: none;

  @include breakpoint($for-tablet-portrait-up) {
    display: block;
  }
}

.theme-term {
  &__header--alternative {
    justify-content: flex-start;
    margin: 0;
    padding: $gutter/3 0 $gutter/3 $gutter;

    .theme-term__image {
      min-width: $gutter*2;
      min-height: $gutter*2;

      @include breakpoint($for-tablet-portrait-up) {
        display: block;
      }
    }
  }
}
