.block-group-operations,
.block-content-creation-links-block {
  margin: 0;
  padding: $gutter 0;

  .path-user & {
    bottom: unset;
    top: 0;
  }

  @include breakpoint($for-mobile-landscape-up) {
    bottom: 10px;
    margin: $gutter * 1.86 $gutter 0 $gutter;
    padding: $gutter / 3;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  @include breakpoint($for-tablet-portrait-up) {
    margin: $gutter $gutter 0 $gutter;
  }

  .contextual {
    top: -25px;
  }
}

.block-group-operations {
  .dropbutton-widget {
    .js & {
      background-color: transparent;
      border: 0 none;
    }
  }

  .dropbutton-single {
    .menu--content-creation__button {
      margin-bottom: -17px;
    }
  }
}
