.block-group-operations,
.block-content-creation-links-block {
  @include breakpoint($for-tablet-portrait-up) {
    margin: $gutter $gutter 0 $gutter;
    padding: $gutter / 3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    .contextual {
      top: -25px;
    }
  }
}

.block-group-operations {
  @include breakpoint($for-tablet-portrait-up) {
    margin: 10px -5px 0 $gutter;
  }
  .dropbutton-widget {
    .js & {
      background-color: transparent;
      border: 0 none;
    }
  }
}
