.block-local-tasks-block {
  padding-left: $gutter;

  .block--system-messages__container {
    padding: 0;
  }

  .local-tasks {
    margin-top: 0;
  }

  @include breakpoint($for-tablet-portrait-up) {
    margin-left: auto;
  }

  @include breakpoint(1200px) {
    padding-left: 0;
  }
}
