.block-local-tasks-block {
  .block--system-messages__container {
    padding: 0;
  }

  .local-tasks {
    margin-top: 0;
  }

  @include breakpoint($for-tablet-portrait-up) {
    margin-left: auto;
  }
}
