.block-content-print-button-block {
  margin-left: auto;
  padding-bottom: $gutter * 2;

  .page-node-type-legislation-card &,
  .page-node-type-page & {
    margin-top: -#{$gutter};
    padding-right: $gutter * 2;
  }

  .flag-wrapper & {
    display: inline-block;
    padding-bottom: 0;
  }
}
