.tools__container {
  position: relative;

  .local-tasks {
    justify-content: center;

    @include breakpoint($for-tablet-portrait-up) {
      justify-content: unset;
    }
  }

  .path-user & {
    @include breakpoint($for-tablet-portrait-up) {
      margin: 0;
      position: absolute;
      right: 0;
      top: -30px;
      z-index: 5;
    }
  }

  
}

// Fix for prevent overlappin elements when breadcrumb is missing from /user/login
.path-user .has-parallax .tools__container {
  top: 0px;
}
.path-user .has-parallax:has(> .breadcrumb__container) .tools__container {
  top: -30px;
}
