.tools__container {
  position: relative;

  .local-tasks {
    justify-content: center;

    @include breakpoint($for-tablet-portrait-up) {
      justify-content: unset;
    }
  }

  .path-user & {
    @include breakpoint($for-tablet-portrait-up) {
      margin: 0;
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
}
