@mixin font-size($font-size, $desired-mobile-size: '') {
  @media screen and (max-width: $for-tablet-portrait-up) {
    @if $desired-mobile-size != '' {
      font-size: ($desired-mobile-size / $base-font-size) * 1rem;
    }
  }
  font-size: ($font-size / $base-font-size) * 1rem;
}

@mixin line-height($font-size, $line-height, $mobile-font-size: '', $mobile-line-height: '') {
  @media screen and (max-width: $for-tablet-portrait-up) {
    @if $mobile-font-size != '' and $mobile-line-height != '' {
      line-height: ($mobile-line-height / $mobile-font-size) * $mobile-font-size;
    }
  }
  line-height: ($line-height / $font-size) * $font-size;
}

@mixin button() {
  @include font-size(14px);
  background-color: transparent;
  border: 1px solid $gray-darker;
  box-shadow: 0 8px 6px -6px rgba($black, 0.15);
  color: $black;
  display: flex;
  font-family: $default-font-family;
  font-weight: 600;
  margin: 0 auto;
  padding: 0.3rem 0.75rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.1s;
  transition-property: background-color;
  width: auto;

  @media screen and (min-width: $for-tablet-portrait-up) {
    display: flex;
    max-width: none;
    padding: 0.3rem 1.5rem;
  }

  &:hover {
    background-color: $gray;
    box-shadow: 0 8px 6px -6px rgba($black, 0.1);
    color: $black;
    cursor: pointer;
  }
}
