@mixin font-size($font-size, $line-height: '') {
  font-size: ($font-size / $base-font-size) * 1rem;
  @if $line-height != '' {
    line-height: ($line-height / $font-size) * $font-size;
  }
}

@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}

@mixin button($type: '') {
  @if $type == '' {
    @include font-size(14px);
    background-color: transparent;
    border: 1px solid $gray-dark;
    box-shadow: 0 8px 6px -6px rgba($black, 0.15);
    color: $black;
    display: flex;
    font-family: $default-font-family;
    font-weight: 600;
    margin: 0 auto;
    padding: 0.3rem 0.75rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.1s;
    transition-property: background-color;
    width: auto;

    @media screen and (min-width: $for-tablet-portrait-up) {
      display: flex;
      max-width: none;
      padding: 0.3rem 1.5rem;
    }

    &:hover {
      background-color: $gray;
      box-shadow: 0 8px 6px -6px rgba($black, 0.1);
      color: $black;
      cursor: pointer;
    }
  }
  @else if $type == 'submit' {
    @include font-size(14px, 14px);
    @include font-weight($semibold);
    background-color: $blue-light;
    border: 2px solid $blue-light;
    border-radius: 3px;
    color: $white;
    display: inline-block;
    letter-spacing: 0;
    margin: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:active,
    &:focus,
    &:hover {
      background-color: $white;
      color: $blue-light;
      cursor: pointer;
      outline: none;
    }
  }
}

@mixin border($side: '') {
  $color: rgba(165, 172, 176, 0.3);

  @if $side == '' {
    border: 1px solid $color;
  }
  @else if $side == 'bottom' {
    border-bottom: 1px solid $color;
  }
  @else if($side == 'top') {
    border-top: 1px solid $color;
  }
  @else if($side == 'left') {
    border-left: 1px solid $color;
  }
  @else if($side == 'right') {
    border-right: 1px solid $color;
  }
}

@mixin icon-colors($fallback: $black) {
  fill: $fallback;
  @content;
}
