// Set all dom nodes to border-box
@if $default-border-box {
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }
}

// Use font-smoothing
@if $default-font-smoothing {
  html,
  html a {
    @include fontsmoothing();
  }
}

// Disable outlining
@if $default-disable-outline {
  *:active,
  *:hover {
    outline: 0;
  }
}

// clean menu items
@if $default-clean-menus {
  .menu,
  ul,
  ol,
  dl {
    margin: 0;
    padding: 0;
  }
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: $gray-light;
  margin: 0;
  padding: 0;
  height: 100%;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}
