//
// @file
//
// This file includes everything related to the basic typography
//

// Source Sans Pro
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format("truetype");
}

// ########## General ########## //
body {
  @include font-size($font-size-mobile-body, $font-line-height-mobile-body);
  color: $black;
  font-family: $default-font-family;
  font-weight: 200;
  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-body, $font-line-height-body);
  }
}

a {
  color: $blue-light;
  transition: all 150ms linear;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: underline;
  }
}

strong {
  @include font-weight($semibold);
}

small {
  font-size: 80%;
}

// ########## Headings ########## //
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin-top: 0;
  word-break: break-word;

  a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

h1 {
  @include font-size($font-size-mobile-heading-1, $font-line-height-mobile-heading-1);
  @include font-weight($semibold);
  margin-bottom: $gutter * 2;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-heading-1, $font-line-height-heading-1);
  }
}

h2 {
  @include font-size($font-size-mobile-heading-2, $font-line-height-mobile-heading-2);
  @include font-weight($semibold);
  margin-bottom: $gutter;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-heading-2, $font-line-height-heading-2);
  }
}

h3 {
  @include font-size($font-size-mobile-heading-3, $font-line-height-mobile-heading-3);
  @include font-weight($semibold);
  margin-bottom: $gutter;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-heading-3, $font-line-height-heading-3);
  }
}

h4 {
  @include font-size($font-size-mobile-heading-4, $font-line-height-mobile-heading-4);
  @include font-weight($semibold);
  margin-bottom: $gutter;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-heading-4, $font-line-height-heading-4);
  }
}

h5 {
  @include font-size($font-size-mobile-heading-5, $font-line-height-mobile-heading-5);
  @include font-weight($semibold);
  margin-bottom: .5rem;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-heading-5, $font-line-height-heading-5);
  }
}

h6 {
  @include font-size($font-size-mobile-heading-6, $font-line-height-mobile-heading-6);
  @include font-weight($semibold);
  margin-bottom: .25rem;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-heading-6, $font-line-height-heading-6);
  }
}

p {
  @include font-size($font-size-mobile-body, $font-line-height-body);
  @include font-weight($regular);
  margin-bottom: 23px;
  margin-top: 0;

  @include breakpoint($for-tablet-portrait-up) {
    @include font-size($font-size-body, $font-line-height-body);
  }
}

p,
ul,
ol {
  + h2 {
    margin-top: 2rem;
  }

  + h3 {
    margin-top: 1.5rem;
  }

  + h4 {
    margin-top: 1.25rem;
  }
}

ul,
ol {

  ul,
  ol {
    margin-top: .5rem;
  }

  + p {
    margin-top: 1rem;
  }
}

ul {
  padding-left: 1.25rem;
}

ol {
  padding-left: 1.3125rem;
}

blockquote {
  @include font-size(24px, 36px);
  @include font-weight($regular);
  border-left: 5px solid $purple;
  color: $gray-darker;
  letter-spacing: 0;
  margin: $gutter * 3;
  padding-left: 25px;

  p {
    @include font-size(24px, 36px);
    @include font-weight($regular);
  }
}
