//
// @file
//
// This file includes everything related to the logo styling
//

.logo {
  align-items: center;
  display: flex;
  line-height: 0;

  &--header {
    text-decoration: none;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

.logo--text {
  @include font-size(22px);
  color: $blue;
  font-family: $default-font-family;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 28px;
  margin-left: 8px;

  @include breakpoint($for-tablet-portrait-up) {
    color: $white;
  }
}
