.pager {
  padding: 0;
  text-align: center;
  width: 100%;

  &__item {
    border: 0 none;

    &.is-infinite {
      &:last-child {
        border: 0 none;
        padding: $gutter;
      }
    }

    .button {
      @include font-size(16px);
      @include line-height(16px, 20px);
      @include font-weight($semibold);
      background-color: $blue;
      border: 2px solid $blue;
      border-radius: 3px;
      color: $white;
      display: inline-block;
      margin: 0 auto;
      padding: 10px 40px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:active,
      &:focus,
      &:hover {
        background-color: $white;
        color: $blue;
        cursor: pointer;
        outline: none;
      }
    }
  }

}
