.buttons {
  list-style: none;
  margin: 0 -#{$gutter / 2};
  padding: 0;

  &--horizontal {
    display: flex;
    flex-wrap: wrap;
  }

  .button {
    margin: $gutter / 3;

    a {
      @include button;
      @include font-size(14px, 18px);
      background-color: $white;
      border: 1px solid $blue;
      box-shadow: 0 3px 6px #00000029;
      color: $blue;

      &.is-active {
        background-color: $blue;
        box-shadow: 0 0 0 transparent;
        color: $white;
        cursor: default;
      }
    }

    &--secondary {
      margin: 0 $gutter / 2;

      a {
        background-color: $white;
        border: 1px solid $gray;
        box-shadow: 0 0 0 transparent;
        color: $blue-light;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;

        &:hover,
        &.is-active {
          background-color: $blue-light;
          border-color: $blue-light;
          color: $white;
        }

        &.is-active {
          cursor: default;
        }
      }
    }
  }
}

.button--cta {
  @include font-size(20px, 26px);
  @include font-weight($regular);
  background: $purple linear-gradient(180deg, $purple 0%, $purple--secondary 100%) 0% 0% no-repeat padding-box;
  border-radius: $gutter / 3;
  color: $white;
  display: inline-block;
  letter-spacing: 0;
  padding: $gutter $gutter * 2;
  text-decoration: none;
  text-shadow: 1px 1px 1px $purple--secondary;

  &:hover,
  &:active {
    background: $purple;
    color: $white;
    text-decoration: none;
  }

  &-extended {
    padding: $gutter $gutter * 6;
  }

  &-alternative {
    background: $blue-light linear-gradient(180deg, $blue-light 0%, $blue-light--secondary 100%) 0% 0% no-repeat padding-box;
    text-shadow: 1px 1px 1px $blue-light--secondary;

    &:hover,
    &:active {
      background: $blue-light;
      color: $white;
      text-decoration: none;
    }
  }
}
