.buttons {
  list-style: none;
  margin: 0 -#{$gutter / 2};
  padding: 0;

  &--horizontal {
    display: flex;
    flex-wrap: wrap;
  }

  .button {
    margin: $gutter / 3;

    a {
      @include button;
      @include font-size(14px, 18px);
      background-color: $white;
      border: 1px solid $blue;
      box-shadow: 0 3px 6px #00000029;
      color: $blue;

      &.is-active {
        background-color: $blue;
        box-shadow: 0 0 0 transparent;
        color: $white;
        cursor: default;
      }
    }

    &--secondary {
      margin: 0 $gutter / 2;

      a {
        background-color: $white;
        border: 1px solid $gray;
        box-shadow: 0 0 0 transparent;
        color: $blue-light;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;

        &:hover,
        &.is-active {
          background-color: $blue-light;
          border-color: $blue-light;
          color: $white;
        }

        &.is-active {
          cursor: default;
        }
      }
    }
  }
}
