.link {
  @include font-size(18px);
  @include line-height(18px, 23px);
  @include font-weight($semibold);
  color: $blue-light;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;

  &::before {
    background: url('../../icons/svg/chevron-right-blue.svg') no-repeat -4px 3px transparent;
    content: '';
    display: inline-block;
    height: 17px;
    width: 17px;
  }

  &:focus,
  &:active,
  &:hover {
    color: $black;
    text-decoration: none;

    &::before {
      background: url('../../icons/svg/chevron-right.svg') no-repeat -4px 3px transparent;
    }
  }

  &__wrapper {
    margin: $gutter 0;
  }

  &--external {
    align-items: center;
    display: flex;

    &::before {
      background: url('../../icons/svg/link-external-blue.svg') no-repeat 0px 0px transparent;
      background-size: 20px 20px;
      color: $blue-light;
      content: '';
      display: inline-block;
      height: 20px;
      margin: 0 $gutter 0 0;
      min-width: 20px;
    }

    &:focus,
    &:active,
    &:hover {
      &::before {
        background: url('../../icons/svg/link-external.svg') no-repeat 0px 0px transparent;
        background-size: 20px 20px;
      }
    }
  }

  &--secondary {
    align-content: center;
    display: flex;
    margin-bottom: 10px;

    .link__icon-left {
      .icon {
        height: 25px;
        margin-left: -8px;
        opacity: 0.5;
        width: 25px;
      }
    }

    .link__icon-right {
      .icon {
        height: 18px;
        left: 4px;
        position: relative;
        top: 2px;
        width: 18px;
      }
    }

    .link__text {
      @include font-size(18px);
      @include line-height(18px, 23px);
      @include font-weight($semibold);
      padding-right: $gutter / 4;
    }
  }

  &--cta {
    display: flex;
    @include font-size(18px);
    @include line-height(18px, 26px);
    @include font-weight($semibold);
    margin-top: $gutter;
    transition: all 150ms linear;

    &-icon-left {
      .icon {
        height: 25px;
        margin-left: -8px;
        opacity: 0.5;
        width: 25px;
      }
    }

    &-icon-right {
      position: relative;
      top: 2px;
      .icon {
        height: 16px;
        width: 16px;
      }
    }

    &-text {
      padding-right: $gutter / 4;
    }
  }

}
