.link {
  @include font-size(18px);
  @include line-height(18px, 26px);
  color: $blue-light;
  font-weight: 600;
  letter-spacing: 0;
  text-decoration: none;

  &::before {
    background: url('../../icons/svg/chevron-right-blue.svg') no-repeat -4px 3px transparent;
    content: '';
    display: inline-block;
    height: 17px;
    width: 17px;
  }

  &:hover {
    color: $black;
    text-decoration: none;

    &::before {
      background: url('../../icons/svg/chevron-right.svg') no-repeat -4px 3px transparent;
    }
  }

  &__wrapper {
    margin: $gutter 0;
  }
}
