.block-suopa-content-social-sharing-block {
  // Contextual link.
  .contextual {
    right: 7px;
    top: 30px;

    .trigger {
      right: -32px;
      top: -20px;
    }
  }
}

.social-media-sharing {
  line-height: 0;

  .share {
    background-color: $white;
    border-radius: 100%;
    display: inline-block;
    list-style: none;
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }

    .icon {
      max-height: $gutter * 2;
      max-width: $gutter * 2;
    }

    &.email {
      color: #3C3C3C;
    }

    &.facebook-share {
      color: #4169AF;
    }

    &.linkedin {
      color: #0079B2;
    }

    &.twitter {
      color: #0DA4EE;
    }

    &:focus,
    &:active,
    &:hover {
      color: $black;
    }
  }
}
