{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="views-row-wrapper listing--list {% if rows|length is even %}views-row-wrapper--even{% else %}views-row-wrapper--odd{% endif %}">
  {% for row in rows %}
    {% set row_classes = [
      default_row_class ? 'views__row',
      'listing--list__item'
    ] %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
</div>
