//
// @file
//
// This file includes all variables related to colors
//
$page-background: #F7F7F7;

$black: #282828;
$white: #fff;

$gray-light: #E7E8E9;
$gray-medium: #C8CDD0;
$gray: #A5ACB0;
$gray-dark: #5F686D;

$red: #B72A23;
$pink: #ff468a;
$purple: #9D5DB4;
$purple--secondary: #86499C;
$blue: #003479;
$blue-light: #2A6EBB;
$blue-light--secondary: #235A9A;
$cyan: #34B6E4;
$cyan-ultra-light: rgba(52, 182, 228, 0.06);

$yellow: #fbc427;
$orange: #f0ac2b;
$orange-dark: #ea7125;
$green: #047C45;

// Colors for messages
$error-dark: #b43b4b;
$error-light: #e98491;
$status-light: #92c25e;
$status-dark: #62922d;
$warning-light: #f6813e;
$warning-dark: #cf4b00;

// Customised colors
$mobile-slideout-background: rgba(0, 0, 0, 0.6);

// Legislation card
$legislation-gray: #C1C1C1;
$legislation-blue-light: #F7FAFD;
$legislation-blue: #3576BF;

// Facebook
$facebook-blue: #3C5A99;

// Rating
$rate-green: #8BC34A;
$rate-red: #c34a4a;
$rate-undo: $error-dark;
