//
// @file
//
// This file includes all variables related to colors
//

$black: #000000;
$white: #fff;

$gray-light: #f8f9f8;
$gray-lighter: #F7F7F7;
$gray: #dfdfe1;
$gray-medium: #C7D0D5;
$gray-dark: #979797;
$gray-darker: #686868;
$gray-darkest: #444;

$red: #da1111;
$pink: #ff468a;
$blue: #003479;
$blue-dark: #041b26;
$blue-medium: #003479;
$blue-light: #2A6EBB;
$blue-lightest: #eef5ff;
$yellow: #fbc427;
$orange: #f0ac2b;
$orange-dark: #ea7125;
$green: #0f6401;

// Colors for messages
$error-dark: #b43b4b;
$error-light: #e98491;
$status-light: #92c25e;
$status-dark: #62922d;
$warning-light: #f6813e;
$warning-dark: #cf4b00;

// Customised colors
$mobile-slideout-background: rgba(0, 0, 0, 0.6);

// Legislation card
$legislation-gray: #C1C1C1;
$legislation-blue-light: #F7FAFD;
$legislation-blue: #3576BF;

// Facebook
$facebook-blue: #3C5A99;

// Rating
$rate-green: #8BC34A;
$rate-red: #c34a4a;
$rate-undo: $error-dark;
