//
// @file
//
// This file includes all variables related to media queries
//

$for-tablet-portrait-up: 769px;
$for-tablet-landscape-up: 960px;
$for-desktop-up: 1200px;

// Adjust value of container
$container-tablet-portrait: 750px;
$container-tablet-landscape: 970px;
$container-desktop: 1170px;

$gutter: 16px;
