{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {% set title = content.field_p_title.0 %}
  {% block content %}
    <div class="paragraph__attachment">
      <span class="paragraph__title">
        {{ title }}
      </span>
      <div class="paragraph__content">
        {{ content|without('field_p_title') }}
      </div>
    </div>
  {% endblock %}
{% endblock paragraph %}
