{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {%
    set bullet_classes = [
      'paragraph-list__item',
      bullet_style ? 'icon--' ~ bullet_style|clean_class,
    ]
  %}
  {% set text = content.field_p_bullet_point_text %}

  <li{{ attributes.addClass(bullet_classes) }}>
    {% block content %}
      {{ text }}
    {% endblock %}
  </li>
{% endblock paragraph %}
