{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {% set reverse = content.field_p_reverse['0']['#markup'] %}

  {% if reverse is same as(1) %}
    {% set classes = classes|merge(['paragraph--reverse']) %}
  {% endif %}

  {% set separate = content.field_p_separate['0']['#markup'] %}

  {% if separate is same as(1) %}
    {% set classes = classes|merge(['paragraph--divide']) %}
  {% endif %}

  {% if not content.field_p_media|render %}
    {% set classes = classes|merge(['paragraph--full-width']) %}
  {% endif %}

  <div{{attributes.addClass(classes)}}>
    {% block content %}
      <div class="paragraph__content-wrapper">
        <div class="paragraph__title-wrapper">
          {% if content.field_p_link.0['#url'] %}
            {% set link = content.field_p_link.0['#url'] %}
            {% set text = content.field_p_title.0 %}
            {% set external = item.is_external %}
            {% include "@suomidigi/misc/link.twig" with {
              link_class: 'paragraph__title',
              link_url: link,
              link_text: text,
              external: external
            } %}
          {% else %}
            <h2 class="paragraph__title">{{ content.field_p_title.0 }}</h2>
          {% endif %}
        </div>
        <div class="paragraph__content">
          {{ content|without(
            'field_p_title',
            'field_p_reverse',
            'field_p_link',
            'field_p_separate',
            'field_p_media'
          ) }}
        </div>
      </div>
      {% if content.field_p_media|render %}
        <div class="paragraph__media">
          {{ content.field_p_media|render }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
