{% extends "paragraph.html.twig" %}

{% block paragraph %}
  <div {{attributes.addClass(classes)}}>
    {% include "@suomidigi/misc/link.twig" with {
      link_url: content.field_p_link_required.0['#url'],
      link_text: content.field_p_link_required.0['#title'],
      external: content.field_p_link_required.0['#url'].external ? 1 : 0,
    } %}
  </div>
{% endblock paragraph %}
