{% extends "paragraph.html.twig" %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="suopa-feed-wrapper suopa-feed-{{ id }}" data-feed-id="{{ id }}">
        <a href="suopa_feed/load/{{ id }}" class="use-ajax">Click for testData!</a>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
