{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {% set title = content.field_p_title %}
  {% set text = content.field_text %}
  {% set background_color = content.field_p_background_color['0']['#plain_text'] %}

  {% set classes = classes|merge([background_color|clean_class]) %}

  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="paragraph__title">{{ title }}</div>
      {% if text|render %}
        <div class="paragraph__content">
          {{ text }}
        </div>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}