{% extends "paragraph.html.twig" %}

{% block paragraph %}
  {% set link = content.field_p_link.0['#url'] %}
  {% set link_target = content.field_p_link_target['0']['#markup'] %}
  {% set title = content.field_p_link.0['#title'] %}

  <div{{attributes.addClass(classes)}}>
    {% block content %}
      <div class="paragraph__content">
        {{ content.field_p_entity_reference }}
        {% if link|render %}
          <a href="{{ link }}" {% if link_target is same as(1) %} target="_blank" {% endif %} class="btn btn--blue">{{ title }}</a>
        {% endif %}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
