<div class="contact-information">
  {% if name %}
    <div class="name">{{ name }}</div>
  {% endif %}
  {% if email %}
    <div class="email">{{ email }}</div>
  {% endif %}
  {% if phone_number %}
    <div class="phone-number">{{ phone_number }}</div>
  {% endif %}
</div>
