{#
/**
 * @file
 * Theme override for a field.
 */
#}
{% for item in items %}
  {% set link = item.content['#url'] %}
  {% set text = item.content['#title'] %}
  <a href="{{ link }}" class="button--cta" {% if external %}target="_blank"{% endif %}>{{ text }}</a>
{% endfor %}
